{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Contacteer ons</span>
                <h2 class="mb-4">Neem contact met ons op</h2>
                <p>We helpen u graag in uw droom naar een prachtig dakkappel</p>
            </div>
        </div>

        <div class="row block-9 ftco-animate">
            <div class="col-md-8">
                <form action="{% url 'sendMessage' %}" method="POST" enctype="multipart/form-data" class="p-4 p-md-5 contact-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Uw naam" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Uw mail" required/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="topic" placeholder="Onderwerp"required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="" cols="30" rows="7" name="message" class="form-control" placeholder="Bericht"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Verstuur bericht" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>                    
                    </div>
                </form>
                <div class="mt-2">
                    {% if msg %}
                    {% if error == "true" %}
                    <p class="alert alert-danger"><i class="mr-2 fa fa-exclamation-circle"></i>{{msg}}</p>
                    {% else %}
                    <p class="alert alert-success"><i class="mr-2 fa fa-check-circle"></i>{{msg}}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-4 d-flex pl-md-5">
                <div class="row">
                    <div class="dbox w-100 d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="text">
                            <p><span>Adress:</span> Watermanstraat 95015 TG Tilburg</a></p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="text">
                            <p><span>Telefoon:</span> <a href="tel://1234567920">+31 6 21452924</a></p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text">
                            <p><span>Email:</span> <a href="mailto:a.shakib.abubaker@gmail.com">bnldakkapellen@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="dbox w-100 d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="text">
                            <p><span>Website</span> <a href="#">beneluxdakkapel.nl</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}