{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5">
  <h1>Dakkapel vergunningsvrij</h1>
  <p class="text-justify">
    De indruk bij veel consumenten is dat er steeds meer mag en er minder vaak
    een vergunning nodig is dan vroeger. ‘een dakkapel is nu toch
    vergunningsvrij‘ zegt men dan, de regels zijn toch sterk versoepelt? Dat is
    ook gedeeltelijk zo. Echter, in een behoorlijk aantal gevallen blijkt dat je
    toch een vergunning nodig hebt en dat ook de regels voor vergunningsvrij
    plaatsen verkeerd begrepen worden.
  </p>
  <div class="p-3"></div>

  <div class="mt-3 mb-3">
    <h3>Dakkapel aan de achterzijde</h3>
    <p class="text-justify">
      Mijn dakkapel komt aan de achterzijde, ik heb dus geen vergunning nodig’.
      Dat klopt helaas in behoorlijk wat gevallen niet. De meest gemaakte fouten
      zijn hier dat een dakkapel niet alleen minimaal 50 cm ruimte moet hebben
      tussen de wang en de woning scheidende muren (of einde dakvlak) maar er
      ook 50 cm in verticale zin moet zijn tussen de nok en de bovenzijde van de
      dakkapel (minimaal 2 dakpannen). Bovendien moet er minimaal 50 cm in
      verticale zin zijn tussen de het einde van het dakvlak en de onderzijde
      van het kozijn EN mag die afstand maximaal 100 cm zijn. Vooral bij dat
      laatste gaat het vaak fout als je een ‘doorstekend’ dakvlak hebt. Dus een
      dak waarvan de dakgoot onder het niveau van de vloer van de zolder of
      eerste verdieping ligt.
    </p>
    <img src="{% static 'images/dakka_verg_svrij/Page-1-Image-1.png' %}" />
    <p class="text-center">
      (deze dakkapel aan de achterzijde is niet vergunningsvrij, er zit meer dan
      1 meter tussen de onderzijde van het kozijn en het einde van het dak)
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Ik woon in een welstandvrij gebied</h3>
    <p class="text-justify">
      ‘Ik woon in een welstandvrij gebied, ik heb dus geen vergunning nodig’.
      Ook dat klopt helaas lang niet altijd. Dit hangt volledig af van de
      interpretatie die je gemeente geeft aan deze term. Soms heb je aan de
      voorzijde dan toch een vergunning nodig en moet je echt de regels van je
      gemeente kennen.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Vergunningscheck geeft geen vergunning nodig</h3>
    <p class="text-justify">
      ‘Ik heb de vergunningscheck op de website van de gemeente gedaan en ik heb
      wel/geen vergunning nodig’. In de praktijk komt het toch vaak voor dat
      consumenten een bepaalde regel niet goed begrepen hebben. Plaats je toch
      een dakkapel zonder vergunning dan heb je dus een probleem.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Gemeente gebeld</h3>
    <p class="text-justify">
      ‘Ik heb de gemeente gebeld en ze vertelden me dat ik geen vergunning nodig
      heb’. Heb je de juiste persoon aan de lijn gehad? Regelmatig wordt je
      verkeerd begrepen of weet de medewerker in kwestie het ook niet. Als u
      toch illegaal plaats hebt u alsnog een probleem. Laat daarom dit soort
      uitspraken altijd per e-mail bevestigen.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Welstandsnota’s</h3>
    <p class="text-justify">
      Tot overmaat van ramp: gemeenten hebben door de legeskosten een bron van
      inkomsten. Daarom zijn ze soms heel creatief om toch allerlei
      vergunningsplichtige situaties te creëren. Welstandsnota’s veranderen
      voortdurend en de situatie kan zelfs per wijk verschillend zijn.
    </p>

    <img src="{% static 'images/dakka_verg_svrij/Page-3-Image-2.png' %}" />
  </div>

  <div class="mt-3 mb-3">
    <h3>Kies de juiste partij</h3>
    <p class="text-justify">
      Doe daarom alleen zaken met een bedrijf dat ervaring heeft in dit soort
      situaties. Vergeet niet dat jij als privé persoon aangesproken wordt door
      de gemeente, niet het bedrijf dat de dakkapel plaatst! Ga ook niet zelf
      een omgevingsvergunning proberen te regelen want het is veel lastiger dan
      je denkt en gespecialiseerd werk. Je loopt vast en dan kost het alleen
      maar onnodig extra veel tijd en ergernis.
    </p>
    <p class="text-justify">
      Alleen in situaties waarin je via een ‘snelloket’ o.i.d. eenvoudig met een
      schets een vergunning kunt krijgen is het de moeite waard het zelf te
      doen.
    </p>
  </div>
</div>
{% endblock %}
