{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1>Dakkapel prijzen</h1>
  <p class="text-justify ftco-animate">
    Natuurlijk wilt u graag weten wat de prijs is van een Benelux dakkapel. Wij
    proberen u daarover zo goed mogelijk te informeren en vertellen u graag het
    hele verhaal als het gaat om dakkapel prijzen want er is meer dan alleen de
    prijs die belangrijk is! Hieronder vindt u een overzicht van veel
    voorkomende dakkapellen prijzen: een tekening van een dakkapel als voorbeeld
    en een bijbehorende vanaf prijs. Scrol naar beneden voor een dakkapel
    prijslijst en bijbehorende tekeningen.
  </p>
  <div class="mt-3 mb-3 ftco-animate">
    <h4>Elementen die een rol spelen bij prijsbepaling</h4>
    <p class="text-justify ftco-animate">
      Er zijn een aantal elementen die een rol spelen bij de prijsbepaling van
      een dakkapel. Denk hierbij aan:
    </p>
    <ul>
      <li>de prijs/kwaliteit verhouding</li>
      <li>de arbeidsuren die gemaakt worden</li>
    </ul>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>De prijs/kwaliteitsverhouding</h4>

    <p class="text-justify ftco-animate">
      Van belang is dat u zich realiseert waar u voor betaalt wanneer u een
      dakkapel uitzoekt en laat plaatsen. Het eerste belangrijke verschil zit in
      de prijs die u betaalt op korte en op lange termen.
    </p>
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h4>Prijsbepaling op korte termijn</h4>

    <p class="text-justify ftco-animate">
      Wanneer u vandaag een dakkapel koopt die relatief goedkoop lijkt te zijn,
      dan kunt op langere termijn bedrogen uitkomen. Het cliché ‘goedkoop is
      duurkoop’ is voor 100% van toepassing op deze stelling. Op de
      dakkapellenmarkt vindt u tal van aanbieders die dakkapellen aanbieden voor
      zeer uiteenlopende prijzen. Belangrijk om te weten is dat niet alleen de
      prijzen enorm uiteenlopen, dit geldt ook voor de kwaliteit van de
      dakkapellen.
    </p>
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h4>Goede constructie voorkomt problemen</h4>

    <p class="text-justify ftco-animate">
      De constructie van de dakkapel is hierin belangrijk. We praten hierin vaak
      over dat deel van de dakkapel wat voor u, als leek, minder zichtbaar is.
      Op het moment dat een dakkapel een slechte constructie heeft kunt op lange
      termijn te maken krijgen met problemen als lekkage door condensatievocht,
      lekkage door een lekkend dak, doorzakken van het dakvlak, klemmende ramen
      en uitgedroogde rubbers. Wanneer de dakkapel een goede constructie heeft
      en gemaakt is van de juiste materialen voorkomt u deze problemen.
    </p>
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h4>Prijs Benelux dakkapel op lange termijn</h4>

    <p class="text-justify ftco-animate">
      Hier zit direct de clou van onze boodschap. Wanneer u, een jaar of vijf na
      het plaatsen van de dakkapel, problemen krijgt met lekkage of verzakking
      dan wordt het kostenplaatje van de dakkapel compleet anders. Deze dakkapel
      leek goedkoop aan de voorkant van het proces. Maar voor het oplossen van
      de lekkage of verzakking (mits dit op te lossen) dient u de portemonnee
      weer te trekken. Grote kans dat over een periode van 10 jaar het
      kostenplaatje hoger zal zijn dan wanneer u direct kiest voor serieuze
      kwaliteit.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Onderhoudskosten</h4>

    <p class="text-justify ftco-animate">
      Natuurlijk spelen onderhoudskosten ook een rol op de lange termijn. Denk
      hierbij aan werkzaamheden als schilderen of ander onderhoud. Kiest u op
      voorhand voor een onderhoudsarme dakkapel dan is onderhoud geen issue. Dit
      bespaart kosten op lange termijn.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Kosten voor een vergunning</h4>

    <p class="text-justify ftco-animate">
      Voordat u een dakkapel laat plaatsen is het belangrijk om te achterhalen
      of dit mag zonder vergunning of dat u een vergunning dient aan te vragen
      bij uw gemeente. De aanvraag van een vergunning kost geld. Op de website
      van de Rijksoverheid vindt u informatie over het aanvragen van een
      vergunning voor dakkappellen.
    </p>
    <p class="text-justify ftco-animate">
      Wij raden in basis af om zelf de vergunning voor uw dakkapel aan te
      vragen. In de praktijk blijkt dit echt specialistenwerk. In de praktijk
      zien wij dat klanten na een week of 4 toch bij ons terug komen met de
      vraag of wij alsnog de vergunningsaanvraag willen organiseren. Leest u
      vooral ook onze: FAQ vergunningsaanvraag en de prijslijst voor een
      vergunningsaanvraag
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Opbouw van een prijs</h4>

    <p class="text-justify ftco-animate">
      Natuurlijk kent de prijs van een dakkapel een bepaalde opbouw. Veel hangt
      af van de wensen die u precies hebt. Denk bijvoorbeeld aan:
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Het materiaa</h4>

    <p class="text-justify ftco-animate">
      Des te beter het materiaal, des te meer u investeert. Zo werken wij
      bijvoorbeeld met de volgende materialen:
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Keralit dakkapel</h4>

    <p class="text-justify ftco-animate">
      Keralit is feitelijk gerecycled kunststof en dus duurzaam en
      milieuvriendelijk. Bovendien is het niet zoals natuurlijke materialen
      gevoelig voor invloeden van buitenaf (kromtrekken, schimmelvorming,
      slijtage) en dus ook vrij van onderhoud.
    </p>
    <p class="text-justify ftco-animate">
      Om de zoveel jaar schilderen behoort dus tot de verleden tijd en bespaart
      u dus ook heel veel kosten! Een dakkapel is erg lastig bereikbaar en
      daarom is het nog belangrijker te kiezen voor een goed en onderhoudsvrij
      product.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>HPL dakkapel</h4>

    <p class="text-justify ftco-animate">
      HPL is een dichte compacte plaat die gemaakt is van houtvezels of papier.
      Gemengd met bindmiddelen geeft dit een hele sterke weersbestendige harde
      plaat. HPL is ook een zeer duurzaam product omdat er een groot
      bestandsdeel van zachthout in zit dat afkomstig is van duurzaam beheerde
      bossen. Op deze manier worden er ook veel broeikasgassen in opgeslagen en
      vastgehouden. De HPL platen zijn dan ook goed recyclebaar. Het materiaal
      wat u kiest is bepalend voor de prijsopbouw. Een Keralit dakkapel zal in
      verhouding duurder zijn in de aanschaf dan bijvoorbeeld een HPL Dakkapel.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Type ramen</h4>

    <p class="text-justify ftco-animate">
      In een dakkapel hebt u de keuze uit diverse typen ramen. In principe
      kunnen wij dakkapellen van 1 tot 11 m breed uit 1 stuk bouwen en zijn alle
      indelingen mogelijk. Denkt u bij de raamindeling van dakkapellen aan het
      volgende:
    </p>
    <ul>
      <li>
        Hoeveel draai-kiep en vaste ramen u wilt hebben. Een draai-kiep raam
        gaat naar binnen open dus u kunt dan 2 ramen aan weerszijden ervan
        schoonmaken
      </li>
      <li>
        De aanbevolen maximale breedte voor een draai-kiep raam is 1000 mm. Voor
        vast glas maximaal 1500 mm (i.v..m glasbreuk). Breder kan wel maar dan
        met bepaalde garantie-uitsluitingen.
      </li>
      <li>Wel of geen roosters/horren.</li>
      <li>
        Een verhuisraam kan in sommigen gevallen handig zijn (‘vast’ raam dat
        toch open kan d.m.v. een meedraaiende tussenstijl i.v.m. een draai-kiep
        raam).
      </li>
      <li>
        Wel of geen panelen voor een bestaande tussenwand of later te plaatsen
        wand die erop aangeheeld kan worden
      </li>
    </ul>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Dakkapel prijzen</h4>

    <p class="text-justify ftco-animate">
      Uitgangspunten van onderstaande dakkapel prijzen is het volgende:
    </p>

    <ul>
      <li>
        Geldt voor hellingshoeken tot 35 graden. Flauwere daken met een
        materiaaltoeslag. Sporenkappen € 200 toeslag voor onderslagen.
      </li>
      <li>HPL uitvoering / vlak profiel kozijn in de standaard kleuren.</li>
      <li>Hr++ glas en EPDM dak.</li>
      <li>
        Eventuele speciale constructieve aanpassingen niet in prijs inbegrepen.
      </li>
      <li>Eventueel ingetekende roosters/rolluiken zijn optioneel.</li>
      <li>
        Laagste prijs geldt voor een Runner dakkapel gebouwd met unilin
        dakplaten en minimale Rc waarde van 3,5. Hogere Rc waarden tegen
        meerprijzen.
      </li>
      <li>
        Onderstaande lijst zijn slechts voorbeelden. Alle maatvoeringen zijn
        mogelijk dus informeer altijd bij ons wat uw dakkapel kost.
      </li>
      <li>
        Ondervermelde prijzen onder voorbehoud wijzigingen en pas definitief na
        uw keuze van exacte uitvoering en inmeting bij u thuis.
      </li>
    </ul>
    <p class="text-justify ftco-animate">Dakkapellen prijzen:</p>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">Dakkapel prijs 2 meter breed vanaf € 4.310,=</p>
      <img
        src="{% static 'images/dakka_prizen/Page-5-Image-1.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 2 meter breed met verhuisraam vanaf € 4.410,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-5-Image-2.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 2.4 meter breed met 1 draai-kiep raam € 4.510,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-6-Image-3.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 2.5 meter breed met 2 draai-kiep ramen € 4.757=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-6-Image-4.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 2.7 meter breed met 2 draai-kiep ramen € 4.932,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-7-Image-5.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 3.0 meter breed € 5.010,= (vanaf 3.0 m standaard 2
        draai-kiep ramen)
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-7-Image-6.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 3.0 meter breed en 1.75 m hoog € 5.410,= (paneel of
        hogere ramen)
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-8-Image-7.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">Dakkapel prijs 3.6 meter breed € 5.339,=</p>

      <img
        src="{% static 'images/dakka_prizen/Page-8-Image-8.png' %}"
        alt="dakk_prizen"
      />
    </div>

    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 3.6 meter breed en 1.75 meter hoog € 5.739,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-9-Image-9.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">Dakkapel prijs 4 meter breed € 5.566,=</p>

      <img
        src="{% static 'images/dakka_prizen/Page-9-Image-10.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 4 meter breed met tussenpaneel € 5.691,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-10-Image-11.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">Dakkapel prijs 4.4 m breed € 6.139,=</p>
      <img
        src="{% static 'images/dakka_prizen/Page-10-Image-12.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 4.4 meter breed en 1.75 m hoog met paneel € 6.364,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-11-Image-13.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 4.8 meter breed en 3 ramen € 6.302,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-11-Image-14.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 4.8 meter breed en 1.75 meter hoog met paneel € 6.827,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-11-Image-15.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 5.0 meter breed, 3 ramen en tussenpaneel € 6.561,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-12-Image-16.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 5.5 meter breed met 2 ramen € 6.689,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-12-Image-17.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 5.5 meter breed en 4 ramen € 7.069,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-13-Image-18.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 6.3 meter breed en 4 ramen en tussenpaneel € 8.189,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-13-Image-19.png' %}"
        alt="dakk_prizen"
      />
    </div>
    <div class="mt-3 mb-3 ftco-animate">
      <p class="text-justify ftco-animate">
        Dakkapel prijs 9.0 meter breed, 3 ramen en 2 tussenpanelen € 11.965,=
      </p>
      <img
        src="{% static 'images/dakka_prizen/Page-13-Image-20.png' %}"
        alt="dakk_prizen"
      />
      <p class="text-justify ftco-animate">
        PS: bovenvermelde prijzen onder voorbehoud wijzigingen en pas definitief
        na uw keuze van exacte uitvoering en inmeting bij u thuis.
      </p>
      <p class="text-justify ftco-animate">
        Het is belangrijk te weten dat de prijs van een dakkapel van veel
        specifieke omstandigheden afhankelijk kan zijn. Vraag dus altijd een
        offerte op maat op bij ons om zeker te weten welke prijs past bij uw
        huis en uw wensen. Wellicht nog belangrijker dan de prijs zijn de kosten
        van een dakkapel! Lees het even en maak de juiste beslissing.
      </p>
    </div>
  </div>
</div>
{% endblock %}
