{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1 class="ftco-animate">Dakkapel Vergunning</h1>
  <p>
    Wilt u weten of u een vergunning voor uw dakkapel nodig hebt? Hier leest u
    waar u op moet letten en hoe u een dakkapel vergunning zo soepel mogelijk
    krijgt als blijkt dat u die nodig hebt. Zo bent u er zeker van dat u bij
    controle geen problemen krijgt met uw gemeente.
  </p>

  <h3>Is een dakkapel vergunning wel echt nodig?</h3>
  <p>
    Voor het plaatsen van een Benelux dakkapel heeft u in een aantal gevallen
    een bouwvergunning nodig. Dit wordt een omgevingsvergunning genoemd. Het
    onderstaande plaatje zegt misschien meer dan heel veel tekst:
  </p>
  <img
    class="ftco-animate"
    src="{% static 'images/dakka_verg/Page-1-Image-1.png' %}"
    alt="dakka_verg"
  />
  <p>
    De meeste mensen hebben wel gehoord van de mogelijkheden vergunningsvrij te
    kunnen bouwen aan de achterzijde en dat je ’50 cm bij de buren vandaan moet
    blijven’. Helaas is het complete verhaal een stukje ingewikkelder en leidt
    al snel tot verwarring merken wij in onze dagelijkse praktijk.
  </p>

  <div class="p-3"></div>

  <h2>Dakkapel vergunning: waar het mis kan gaan:</h2>

  <p>
    Soms gaat het mis met de aanvraag en een vergunning voor een dakkapel. Wij
    hebben voor u op een rij gezet waar dit probleem zit.
  </p>

  <div class="mt-3 mb-3">
    <h3>Negeren van isolatiewaarde</h3>
    <p>
      Ook al mag u vergunning vrij bouwen, elk bouwwerk moet ook aan de regels
      uit het Bouwbesluit 2012 en het Burenrecht uit het BW voldoen. Vooral de
      isolatiewaarde vereisten worden genegeerd. Nu kan zelfs een Rc waarde van
      Rc 6.0 voor het dak vereist worden en Rc 4,5 voor de wangen ook al hebt u
      een oud huis dat veel slechter geïsoleerd is! Benelux dakkapellen kan u
      hierin adviseren omdat u soms toch niet aan deze regel hoeft te voldoen.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Vijftig centimeter van de buren vandaag</h3>
    <p>
      De verplichting ’50 cm van de buren vandaan te blijven’ wordt vrijwel
      altijd goed begrepen. Let er ook op dat men het in dit geval heeft over
      het hart van de scheidingsmuur, dus van binnenuit gezien 35-40 cm.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Uit de dakvoet bouwen</h3>
    <p>
      De eis minimaal 50 cm en maximaal 100 cm uit de dakvoet te bouwen wordt
      zeer regelmatig verkeerd begrepen. Meestal gaat het dan fout als de kapel
      te hoog (meer dan 1 meter) boven de dakvoet komt te staan. Bij een dak dat
      ‘oversteekt’ hebt u dus al snel toch een vergunning nodig. Ook als de
      kapel op de muurplaat (gevel die boven de verdiepingsvloer doorsteekt)
      gebouwd wordt is vaak een vergunning vereist omdat u dan niet minimaal 50
      cm uit de dakvoet bouwt. U mag weliswaar een dakkapel laten plaatsen van
      1,75 m hoogtemaat maar dit betekent in veel gevallen dat uw dakkapel te
      laag (t.o.v. de vloer) of te hoog (te dicht bij de nok) komt. Dit kan dan
      weer betekenen dat u toch een vergunning nodig heeft (o.g.v. bepalingen
      uit het Bouwbesluit en de algemene eisen van vergunningsvrij bouwen). U
      kunt dan het beste deskundig advies inwinnen om de start- en eindpositie
      van uw dakkapel te laten bepalen.
    </p>
    <img
      class="ftco-animate"
      src="{% static 'images/dakka_verg/Page-3-Image-2.png' %}"
      alt="dakka_verg"
    />
  </div>

  <div class="mt-3 mb-3">
    <h3>Nokhoogte bepalen</h3>
    <p>
      De nokhoogte wordt regelmatig als voldoende ingeschat maar de regel ’50 cm
      onder de nok bouwen’ moet gemeten worden van het bovenste punt van de
      dakkapel (dus niet de binnen-stahoogte van de dakkapel) tot de bovenkant
      nokgording. In de praktijk moet u daarom minimaal 2 pannen onder de nok
      bouwen anders heeft u toch een vergunning nodig, ook aan de achterzijde!
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Openbaar groen</h3>
    <p>
      Dakkapellen aan de zijkant: let op openbaar groen en openbare weg en de
      definities hiervan. Ook een smal looppad is een openbare weg en dus heeft
      u een vergunning nodig.
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Welstandsnota</h3>
    <p>
      Is er een welstandsnota en wat staat er in? Dit is van belang voor de
      voorzijde en alle andere niet vergunningsvrije werken. De terminologie in
      deze nota’s kunnen verwarrend zijn en moeten goed geïnterpreteerd worden.
      De wel of niet afgeschafte welstandscriteria geven regelmatig verwarring.
      Vaak gelden deze slechts in bepaalde wijken. Goed (laten) navragen dus!
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Welstandsvrij gebied</h3>
    <p>
      Kunt u wellicht aan de voorzijde wel vergunningsvrij bouwen? Dat kan
      helaas nog maar in een enkele gemeente en de term ‘welstandsvrij gebied’
      betekent niet altijd dat u dus zonder vergunning aan de slag kunt. Vaak
      moet u blijven voldoen aan de eisen die gelden voor vergunningsvrij bouwen
      aan de achterzijde en als uw dakvlak aan de voorzijde een overstek heeft
      of een te lage nok dan hebt u alsnog een vergunning nodig!
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Veranderend beleid</h3>
    <p>
      Als er bij u in de buurt dakkapellen staan van een bepaald formaat
      betekent dat nog niet dat u dat dus ook mag. De regels zijn wellicht
      veranderd, er is veel illegaal gebouwd en alleen recente dakkapellen waar
      een vergunning voor is aangevraagd kunnen als referentie genomen worden
      (meestal van de afgelopen 3-5 jaar). Bovendien kan het beleid net
      veranderd zijn, wij maken dat helaas maandelijks mee.
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Altijd vergunningsplichtig:</h3>
    <p>
      <br />
      a. gedeelde dakkapellen met de buren (bouw over de woningscheidende muur
      heen). <br />
      b. nokverhogingen/bouw over de nok heen/ dakopbouwen.<br />
      c. dakkapellen hoger dan 1,75 m (totale buiten hoogtemaat).<br />
      d. dakkapellen breder dan de totale breedte van uw woning (beukmaat) -1
      m.<br />
    </p>
  </div>
  <div class="mt-3 mb-3">
    <h3>Wij adviseren u altijd ter plekke</h3>
    <p>
      Tot slot: ook als u informatie over deze zaken vraagt bij uw gemeente
      kunnen er al snel wederzijdse misverstanden ontstaan. U hebt de juiste
      persoon nodig en u moet precies kunnen aangeven wat uw situatie is anders
      is de kans aanwezig dat het alsnog fout gaat. Benelux dakkapellen
      adviseert u ter plekke altijd duidelijk en eerlijk om mogelijke (grote)
      problemen later te voorkomen. Het is vervelend dat een
      vergunningsprocedure lang duurt en extra geld kost maar de sancties kunnen
      ernstig zijn, tot aan het verplicht volledig verwijderen van de kapel aan
      toe. U kunt overigens ook zelf een vergunningscheck doen maar dan moet u
      goed op de terminologie letten die gebruikt wordt en weten wat uw situatie
      precies, vandaar bovenstaande uiteenzetting.
    </p>
    <img
      class="ftco-animate"
      src="{% static 'images/dakka_verg/Page-5-Image-3.png' %}"
      alt="dakka_verg"
    />
  </div>

  <div class="mt-3 mb-3">
    <h3>Dakkapel vergunning: liever zelf doen?</h3>
    <p>
      Veel particulieren menen dat het regelen van een dakkapel vergunning
      tegenwoordig vrij eenvoudig is. Het kan immers online dus wat is het
      probleem?
    </p>
    <ul>
      <li>U moet details aanleveren die u niet hebt.</li>

      <li>
        U moet tekeningen maken die u niet kunt maken als u geen bouwkundig
        tekenaar bent en niet over autocad beschikt.
      </li>

      <li>
        U moet berekeningen inleveren die u waarschijnlijk niet kunt maken.
      </li>

      <li>
        Uw gemeente kan in sommige gevallen zelfs een aanvullende constructief
        rapport eisen bij twijfel over de constructie. Een dergelijk rapport
        kost u vele malen meer dan wanneer Benelux dakkapellen dat voor u
        regelt.
      </li>
    </ul>
  </div>

  <div class="mt-3 mb-3">
    <h3>Risico lopen</h3>
    <p>
      Het staat u uiteraard volledig vrij het zelf te doen en zo geld te
      besparen. Maar u loopt ook een risico. Vaak duurt het zo lang omdat
      particulieren steeds opnieuw moeten beginnen en weer stukken moeten
      insturen. Dit vertraagt de datum van mogelijke plaatsing – wij maken dit
      regelmatig mee. Wij kunnen niet alleen 1 onderdeel voor u regelen waar u
      zelf niet uitkomt omdat daarvoor alle gegevens bekend moeten zijn bij onze
      tekenaar.
    </p>
  </div>

  <div class="mt-3 mb-3">
    <h3>Versnelde procedures</h3>

    <p>
      n uitzonderlijke gevallen zijn er sterk versnelde procedures waar u
      inderdaad met een simpele tekening snel vergunning krijgt. Denkt u aan het
      volgende:
    </p>

    <ul>
      <li>
        1. Uw dakkapel is gelijk aan de ‘trendsetter’ en uw gemeente heeft een
        ‘snelloket’ of een andere soortgelijke regeling voor standaard
        dakkapellen. U kunt dan met ons standaard vooraanzicht de vergunning
        krijgen.
      </li>
      <li>
        2. U hebt tekeningen van uw buren en wilt precies hetzelfde als hen en
        uw gemeente accepteert dat u wat ‘knip en plakwerk’ verricht.
      </li>
      <p>
        Als u zelf een aanvraag start maar er niet meer uitkomt zal dit niet
        alleen leiden tot tijdverlies maar ook hogere kosten omdat een tekenaar
        meer werk heeft in te haken op een bestaande verkeerde aanvraag dan deze
        zelf van het begin af aan gedaan te hebben. Laat u dus adviseren door
        Benelux dakkapellen wat in uw geval wijsheid is.
      </p>
      <img
        class="ftco-animate"
        src="{% static 'images/dakka_verg/Page-7-Image-4.png' %}"
        alt="dakka_verg"
      />
    </ul>
  </div>

  <div class="mt-3 mb-3">
    <h3>De beoordeling van uw dakkapel vergunning</h3>

    <p>
      Als uw aanvraag compleet door ons is ingediend beoordeelt de gemeente deze
      aan de hand van onderstaande punten:
    </p>

    <ul>
      <li>
        • Bestemmingsplan: in het bestemmingsplan geeft uw gemeente aan welke
        bestemming de grond waarop uw huis staat heeft en welk gebruik is
        toegestaan.
      </li>
      <li>
        Welstandsnota: in de welstandsnota legt de gemeente vast waaraan o.a.
        het uiterlijk en de detailleringen van uw dakkapel moet voldoen.
      </li>
      <li>
        Bouwbesluit: in het bouwbesluit staat aan welke bouwtechnische eisen uw
        dakkapel minimaal moet voldoen. Denk aan veiligheid, gezondheid en
        comfort
      </li>
    </ul>
  </div>

  <div class="mt-3 mb-3">
    <h3>De verlening van uw dakkapel vergunning</h3>
    <p>
      Binnen 8 weken hoort u van uw gemeente of u de dakkapel vergunning krijgt.
      Als u de vergunning krijgt, kunnen omwonenden nog 6 weken bezwaar maken.
      Uw gemeente heeft dan nog 6 weken om hierop te reageren. Overigens is deze
      periode van 6 weken min of meer een formaliteit omdat bezwaar alleen
      gehonoreerd zal worden als blijkt dat er procedurele fouten zijn gemaakt.
      De verleende dakkapel vergunning is na deze periode onherroepelijk en
      minimaal een jaar geldig. In de praktijk wordt een vergunning meestal
      eerder dan pas na 8 weken verleend en in sommige gemeenten al na 1-2
      weken. Gemiddeld kun je uitgaan van 5-6 weken nadat de aanvraag compleet
      bij de gemeente binnen is.
    </p>
  </div>
</div>
{% endblock %}
