{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="row mt-5 dientsten_top">
  <div class="col-md-6 p-5text-center">
    <div class="ftco-animate">
      <img
        src="{% static 'images/dakkapel1.jpg' %}"
        class="d-block mx-auto img-fluid"
      />
      <h2 class="mt-3 text-center">BENT U OP ZOEK NAAR EEN DAKKAPEL?</h2>
    </div>
  </div>
  <div class="col-md-6 p-5" style="background-color: #2c2c2c">
    <div class="ftco-animate">
      <h1 class="dient_h1">Diensten</h1>
    </div>
    <div>
      <div style="font-size: 14px" class="mt-4 ftco-animate">
        <p class="mb-4 text-justify">
          Is uw huidige dakkapel aan vervanging toe of wilt u LICHT en RUIMTE
          creëren, dan bent u bij Benelux dakkapellen op het juiste adres.
          Wij leveren KUNSTSTOF dakkapellen in de hoogste kwaliteit.
          Een kunststof dakkapel is een goede investering die u terug zult
          verdienen door de lage onderhoudskosten en de lange levensduur.
        </p>
        <p class="mb-4 text-justify">
          Wij leveren dakkapellen in diverse maten en uitvoeringen: modern,
          klassiek of monumentaal zijn allemaal mogelijk. Daarnaast zijn de
          dakkapellen in het kunststof in alle kleuren beschikbaar. Een
          dakopbouw is altijd maatwerk en wordt ingemeten en geplaatst op de
          gewenste locatie.
        </p>
        <p class="mb-4 text-justify">
          Onze Prefab dakkapellen worden volledig afgewerkt en in zijn geheel
          bij u afgeleverd. Hierdoor kan de kunststof dakkapel binnen 1 dag
          geplaatst worden. Wij regelen van opmeten tot eind montage voor u.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container p-5 ftco-animate">
  <div class="row">
    {% for d in diensten_para %}
    <div class="col-md-4 text-center mb-3">
      <i class="{{ d.icon }}"></i>
      <h5 class="font-weight-bold">{{ d.title }}</h5>
      <p class="text-justify">{{ d.desc }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
