{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <div>
    <h1>Veel gestelde vragen – FAQ</h1>
    <p>Hieronder leest u meer over:</p>
    <ul>
      <li>levertijd</li>
      <li>techniek</li>
      <li>vergunningen</li>
      <li>werkwijze</li>
      <li>prijzen</li>
      <li>dag van plaatsing</li>
      <li>aftimmering</li>
      <li>rolluiken/screens</li>
      <li>garanties</li>
      <li>betaling</li>
    </ul>

    <div id="accordion">
      <div class="card faqcard">
        <div class="card-header" id="heading1">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp1"
              aria-expanded="true"
              aria-controls="collp1"
            >
              1. Levertijd
            </button>
          </h5>
        </div>

        <div
          id="collp1"
          class="collapse show"
          aria-labelledby="heading1"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">Q: Wat is jullie levertijd?</p>
            <p class="text-justify">
              A: Deze hangt af van de drukte maar rekent u op minimaal 8-10
              weken, heel soms kan het sneller.
            </p>

            <p class="font-weight-bold">Q: Waarom duurt het zo lang?</p>
            <p class="text-justify">
              A: De kozijnen hebben een vrij lange levertijd en ook hebben wij
              het altijd erg druk. Een korte levertijd is meestal dan ook een
              slecht teken.
            </p>

            <p class="font-weight-bold">
              Q: Is er een spoedbestelling mogelijk?
            </p>
            <p class="text-justify">
              A: Heel soms, dit hangt af van diverse factoren en kost altijd
              extra als het mogelijk is.
            </p>
          </div>
        </div>
      </div>

      <div class="card faqcard">
        <div class="card-header" id="head2">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp2"
              aria-expanded="false"
              aria-controls="collp2"
            >
              2. Techniek
            </button>
          </h5>
        </div>

        <div
          id="collp2"
          class="collapse"
          aria-labelledby="head2"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">
              Q: Met welke materialen werken jullie?
            </p>
            <p class="text-justify">
              A: Al onze gebruikte materialen staan in onze offertes en elders
              op onze website. Een kort overzicht vindt u hier:
              <a href="{% url 'kenmerken' %}" class="faq_page_link"
                >kenmerken</a
              >
            </p>

            <p class="font-weight-bold">Q: Hoe maken jullie de dakkapelen?</p>
            <p class="text-justify">
              A: Wij bouwen onze dakkapellen in onze eigen fabriek. Dit zijn
              zogenaamde prefab kunststof dakkapellen die met de kraan op uw dak
              gehesen worden. U leest er hier meer over:
              <a href="{% url 'prefab-dakkapel' %}" class="faq_page_link"
                >prefab-dakkapel</a
              >
            </p>

            <p class="font-weight-bold">
              Q: Welke RC Waarde heeft jullie dakkapel?
            </p>
            <p class="text-justify">
              A: Standaard hebben onze dakkapellen een Rc waarde van 3.5. Hogere
              waarden (tot Rc 8.0) zijn uiteraard ook mogelijk maar lang niet
              altijd de beste keuze. Per dak kan bekeken worden welke Rc waarde
              nuttig en praktisch is.
            </p>

            <p class="font-weight-bold">
              Q: Met welke materialen werken jullie?
            </p>
            <p class="text-justify">
              A: Al onze gebruikte materialen staan in onze offertes en elders
              op onze website. Een kort overzicht vindt u hier:
              <a href="{% url 'kenmerken' %}" class="faq_page_link"
                >kenmerken</a
              >
            </p>

            <p class="font-weight-bold">Q: Hoe maken jullie de dakkapellen?</p>
            <p class="text-justify">
              A: Wij bouwen onze dakkapellen in onze eigen fabriek. Dit zijn
              zogenaamde prefab kunststof dakkapellen die met de kraan op uw dak
              gehesen worden. U leest er hier meer over: prefab-dakkapel
            </p>

            <p class="font-weight-bold">
              Q: Welke Rc waarde heeft jullie dakkapel?
            </p>
            <p class="text-justify">
              A: Standaard hebben onze dakkapellen een Rc waarde van 3.5. Hogere
              waarden (tot Rc 8.0) zijn uiteraard ook mogelijk maar lang niet
              altijd de beste keuze. Per dak kan bekeken worden welke Rc waarde
              nuttig en praktisch is.
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head4">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp4"
              aria-expanded="false"
              aria-controls="collp4"
            >
              3. Vergunningen
            </button>
          </h5>
        </div>

        <div
          id="collp4"
          class="collapse"
          aria-labelledby="head4"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">Q: Heb ik een vergunning nodig?</p>
            <p class="text-justify">
              A: Het is helaas nog steeds zo dat u in veel gevallen een
              omgevingsvergunning nodig hebt. Dit ondanks de versoepeling van de
              regels. Ook lokale verschillen in gemeentelijk beleid maken het
              lastig een eenduidig antwoord te geven. U leest er hier meer over:
              <a href="{% url 'dakkapel-vergunning' %}" class="faq_page_link"
                >dakkapel vergunning</a
              >
            </p>

            <p class="font-weight-bold">
              Q: Mijn dakkapel komt aan de achterzijde, vergunningvrij toch?
            </p>
            <p class="text-justify">
              A: Vaak wel, NIET altijd! Lees er hier meer over:
              <a
                href="{% url 'dakkapel-vergunningsvrij' %}"
                class="faq_page_link"
                >dakkapel-vergunningsvrij</a
              >
            </p>

            <p class="font-weight-bold">
              Q: Kunnen jullie de vergunning(en) voor mij regelen?
            </p>
            <p class="text-justify">
              A: Jazeker. En wij doen dit vaak veel sneller en goedkoper dan
              welk tekenbureau dan ook. U leest er hier meer over:
              <a href="{% url 'prijslijst-vergunning' %}" class="faq_page_link"
                >prijslijst-vergunning</a
              >
            </p>

            <p class="font-weight-bold">
              Q: Hoe lang duurt het tot mijn vergunning binnen is?
            </p>
            <p class="text-justify">
              A: Dit varieert ook weer sterk, soms binnen 1 week, soms duurt het
              8 weken. Hier leest u meer praktische tips als u uw vergunning
              door ons laat regelen:
              <a href="{% url 'dakkapel-vergunning' %}" class="faq_page_link"
                >dakkapel vergunning</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head5">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp5"
              aria-expanded="false"
              aria-controls="collp5"
            >
              4. Werkwijze:
            </button>
          </h5>
        </div>

        <div
          id="collp5"
          class="collapse"
          aria-labelledby="head5"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">Q: Komen jullie eerst langs bij ons?</p>
            <p class="text-justify">
              A: Vanwege de enorme hoeveelheid offerte-aanvragen kunnen wij niet
              direct bij u langskomen. Voor een eerste offerte is dit ook niet
              nodig. Zo kunt u zich eerst goed oriënteren en bij verdere
              interesse kunnen wij de vervolgstappen met u bespreken.
            </p>

            <p class="font-weight-bold">
              Q: Wat is globaal de werkwijze van Benelux Dakkapellen?
            </p>
            <p class="text-justify">
              A: U leest er hier alles over:
              <a href="{% url 'werkwijze' %}" class="faq_page_link"
                >werkwijze</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head6">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp6"
              aria-expanded="false"
              aria-controls="collp6"
            >
              5. Prijzen van dakkapellen
            </button>
          </h5>
        </div>

        <div
          id="collp6"
          class="collapse"
          aria-labelledby="head6"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">Q: Wat kost een dakkapel?</p>
            <p class="text-justify">
              A: Natuurlijk wilt u weten wat uw dakkapel kost, daarom vindt u
              hier een globale prijslijst met voorbeelden:
              <a href="{% url 'dakkapel-prijzen' %}" class="faq_page_link"
                >dakkapel prijzen</a
              >
            </p>

            <p class="font-weight-bold">
              Q: Wat bepaalt de prijs van een dakkapel?
            </p>
            <p class="text-justify">
              A: Uw dakkapel is maatwerk en er zijn veel meer mogelijkheden en
              opties dan u wellicht denkt. Denk aan het volgende: hellingshoek
              van uw dak, wat voor soort dak is het, moet er een knieschot in of
              extra constructieve werkzaamheden verricht worden, welk
              buitenmateriaal kiest u, wilt u roosters, horren, rolluiken,
              screens, welke isolatie en glas, welke afwerking rondom de
              dakkapel en nog veel meer…
            </p>

            <p class="font-weight-bold">
              Q: Waarom noemen jullie prijs en KOSTEN van een dakkapel?
            </p>
            <p class="text-justify">
              A: Er is altijd vraag naar de prijs, vrijwel nooit naar de KOSTEN!
              Als u iets koopt en het is niet goed (genoeg) dan hebt u wellicht
              te weinig betaald. Lees er hier meer over en zorg dat u de juiste
              keuze maakt:
              <a href="{% url 'kosten-dakkapel' %}" class="faq_page_link"
                >kosten dakkapel</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head7">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp7"
              aria-expanded="false"
              aria-controls="collp7"
            >
              6. De dag van plaatsing
            </button>
          </h5>
        </div>

        <div
          id="collp7"
          class="collapse"
          aria-labelledby="head7"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold"></p>
            Q: Wat gebeurt en allemaal en wat moet ik zelf regelen?
            <p class="text-justify">
              A: U leest er hier veel meer over
              <a
                href="{% url 'van-offerte-tot-montage' %}"
                class="faq_page_link"
                >Van offerte tot montage</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head8">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp8"
              aria-expanded="false"
              aria-controls="collp8"
            >
              7. Aftimmeringen/andere werkzaamheden
            </button>
          </h5>
        </div>

        <div
          id="collp8"
          class="collapse"
          aria-labelledby="head8"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">
              Q: Timmeren jullie de dakkapel ook af?
            </p>
            <p class="text-justify">
              A: Wij kunnen de binnenzijde van de dakkapel voor u aftimmeren.
              Uitgebreidere aftimmeringen zijn soms ook mogelijk maar niet
              altijd. Wel kunnen wij u helpen bij het vinden van een betrouwbare
              timmerman mochten wij het zelf niet kunnen (bijvoorbeeld i.v.m.
              drukte bij ons). Prijs is echt maatwerk.
            </p>
            <p class="font-weight-bold">
              Q: Plaatsen jullie ook dakramen/wanden enzovoorts?
            </p>
            <p class="text-justify">
              A: Eventueel wel, in overleg met u en afhankelijk van uw wensen of
              wij zoeken een andere goede timmerman voor u. Prijs ook hier
              maatwerk.
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head9">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp9"
              aria-expanded="false"
              aria-controls="collp9"
            >
              8. Rolluiken/Screens
            </button>
          </h5>
        </div>

        <div
          id="collp9"
          class="collapse"
          aria-labelledby="head9"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">
              Q: Levert u ook dakkapellen met geïntegreerd rolluik?
            </p>
            <p class="text-justify">
              A: Jazeker. Wij hebben daar een hele mooie en goede oplossing voor
              ontwikkeld. U leest er hier meer over:
              <a
                href="{% url 'rolluiken-in-het-overstek' %}"
                class="faq_page_link"
                >rolluiken in het overstek</a
              >
            </p>
            <p class="font-weight-bold">
              Q: Levert u ook dakkapellen met geïntegreerde screens?
            </p>
            <p class="text-justify">
              A: Jazeker. Wij hebben daar een hele mooie en goede oplossing voor
              ontwikkeld. U leest er hier meer over:
              <a
                href="{% url 'screens-in-het-overstek' %}"
                class="faq_page_link"
                >screens in het overstek</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head10">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp10"
              aria-expanded="false"
              aria-controls="collp10"
            >
              9. Garantie/voorwaarden
            </button>
          </h5>
        </div>

        <div
          id="collp10"
          class="collapse"
          aria-labelledby="head10"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">Q: Welke garantie geeft u?</p>
            <p class="text-justify">
              A: U leest er hier alles over:
              <a href="{% url 'garanties' %}" class="faq_page_link"
                >Garanties</a
              >
            </p>
            <p class="font-weight-bold">
              Q: Waar vind ik uw algemene voorwaarden?
            </p>
            <p class="text-justify">
              A: U vindt deze hier: AVW Benelux Dakkapellen
            </p>
          </div>
        </div>
      </div>
      <div class="card faqcard">
        <div class="card-header" id="head11">
          <h5 class="mb-0">
            <button
              class="btn btn-link faqbtn"
              data-toggle="collapse"
              data-target="#collp11"
              aria-expanded="false"
              aria-controls="collp11"
            >
              10. Betaling/aanbetaling
            </button>
          </h5>
        </div>

        <div
          id="collp11"
          class="collapse"
          aria-labelledby="head11"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p class="font-weight-bold">
              Q: Moet ik bij u een aanbetaling doen?
            </p>
            <p class="text-justify">
              A: Ja, 30% aanbetaling de rest betaald u pas als wij bij u voor de
              deur staan met uw dakkapel(len). U kunt dus alles controleren en
              betaald dan voordat wij gaan hijsen per internetbankieren of
              contant.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
