{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}

<div class="container mt-5 mb-5">
  <div id="accordion">
    <div class="card faqcard">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Waarom kiezen voor een kunststof dakkapel?
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Waarom zou kiezen voor een kunststof dakkapel? Een kunststof
            dakkapel heeft weinig onderhoud nodig. U zult dus lage
            onderhoudskosten hebben. Daarnaast heeft een kunststof dakkapel een
            lange levensduur. Een dakkapel geeft meer licht, maar vooral meer
            ruimte aan de kamer. Dit is dan ook een echte waardevermeerdering
            voor uw woning, die de investering meer dan waard is. Een kunststof
            dakkapel is een goede investering die u terug zult verdienen door de
            lage onderhoudskosten en de lange levensduur. Benelux dakkapellen
            biedt diverse duurzame en kleurechte kunststoffen voor een mooie
            en hoogwaardige kunststof dakkapel. Een Benelux dakkapel is een
            dakkapel die buiten het schoonmaken geen onderhoud nodig heeft.
            Benelux kunststof dakkapellen zijn in diverse uitvoeringen te
            verkrijgen. De dakkapellen zijn er in alle soorten. Modern, klassiek
            of monumentaal zijn mogelijk. Daarnaast zijn de dakkapellen in het
            kunststof in alle kleuren en maten beschikbaar. De dakkapel wordt
            precies op maat geplaatst op de gewenste locatie. De dakkapellen van
            Benelux worden volledig op maat gemaakt. Onze Prefab dakkapellen
            worden volledig gereed gemaakt in onze werkplaats. Hierdoor wordt de
            kunststof dakkapel binnen 1 dag geplaatst. Wij regelen alles voor u.
            Zo ontzorgen wij u volledig.
          </p>
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Polyester dakkapel laten plaatsen
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          <h3>Polyester dakkapel</h3>
          <img src="{% static 'images/faq/Page-2-Image-1.png' %}" />
          <p class="text-justify">
            Wilt u graag een polyester dakkapel? Dan bent u bij Benelux
            dakkapellen aan het juiste adres. Wij zijn gespecialiseerd in het
            leveren en plaatsen van dakkapellen en hebben meer dan 20 jaar
            ervaring. Benelux dakkapellen is de specialist op het gebied van
            uw polyester dakkapel. 
          </p>
          <p>
            Benelux dakkapellen levert en plaatst dakkapellen van verschillende
            materialen. Zo kunt u kiezen voor hout of kunststof. Wij maken de
            dakkapellen in onze eigen werkplaats. Hierdoor kunnen wij aan al uw
            wensen tegemoet komen en zijn wij niet afhankelijk van een
            leverancier. De dakkapel wordt volledig in onze werkplaats gemaakt.
            Als de ​polyester dakkapel op uw woning wordt geplaatst, hoeft er
            dus niets meer in elkaar gezet te worden. Wij plaatsen alleen de
            dakkapel en werken alles af. Hierdoor is het mogelijk om
            de polyester dakkapel in één dag te plaatsen. Op deze manier heeft u
            maar één dag last van rommel.
          </p>
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse3"
            aria-expanded="false"
            aria-controls="collapse3"
          >
            Wat zijn sierlijsten (in relatie tot dakkapellen?
          </button>
        </h5>
      </div>
      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            In  dakkapellenland spreekt men van een sierlijst als
            het boeideel (de bovenste rand die om het dak heen zit) een extra
            versiering heeft. Normaal gesproken is het boeideel vlak en tussen
            de 20 en 30 cm hoog. Boven het boeideel zit dan nog de daktrim die
            vaak van aluminium (kraal of plat) is of zink (kraal). Er zijn
            wel kunststof sierlijsten leverbaar maar veel beperkter dan men zou
            denken.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-3-Image-2.png' %}"
          />
          <p class="text-center font-italic">
            Deze rand noemen wij een boeideel. Heeft het boeideel een versiering
            dan spreken we van een sierlijst.
          </p>

          <div class="mb-3 mt-3">
            <h5>Kunststof boeidelen</h5>
            <p class="text-justify">
              Het probleem bij kunststof boeidelen is namelijk dat sierlijsten
              vrij kwetsbaar zijn en kunnen zorgen voor extra vuilophoping of
              druipsporen die op termijn heel lelijk kunnen worden.
              Een prefab dakkapel die in zijn geheel het dak opgehesen wordt
              hangt ook in banden en sierlijsten moeten daarom soms achteraf
              gemonteerd worden. Dit kan extra problemen geven door slechte
              weersomstandigheden (sierlijst kan niet gelijmd worden bij
              regen/vocht in de lucht) of de sierlijst wordt beschadigd bij het
              hijsen.
            </p>

            <img
              class="mx-auto d-block"
              src="{% static 'images/faq/Page-4-Image-3.png' %}"
            />
            <img
              class="mx-auto d-block"
              src="{% static 'images/faq/Page-5-Image-4.png' %}"
            />
          </div>
          <div class="mb-3">
            <h5>Houten sierlijsten</h5>
            <p class="text-justify">
              Consumenten zien op internet vaak hele mooie sierlijsten maar deze
              zijn meestal van hout gemaakt (zie voorbeeld). Maar dan moet je
              ook een houten dakkapel nemen met alle nadelen die daar bij horen.
              Bovendien zijn houten sierlijsten heel duur om te laten maken
              omdat deze per stuk in een aparte mal gemaakt moeten worden en
              niet zo heel veel verkocht worden waardoor de stuksprijs heel hoog
              ligt (ongeveer € 500-1500 per sierlijst per dakkapel!).
            </p>
            <img
              class="mx-auto d-block"
              src="{% static 'images/faq/Page-6-Image-5.png' %}"
            />
            <p class="text-center font-italic">
              Voorbeeld van een houten sierlijst
            </p>
          </div>
          <div class="mb-3">
            <h5>Laat u goed voorlichten</h5>
            <p class="text-justify">
              Denk dus goed na als u kiest voor een sierlijst en laat u goed
              voorlichten over de mogelijke nadelen en kosten. In
              de showroom ziet het er wellicht mooi uit maar hoe is dit over
              5-10 jaar?
            </p>
            <img
              class="mx-auto d-block"
              src="{% static 'images/faq/Page-7-Image-6.png' %}"
            />
            <p class="text-center font-italic">Standaard keralit boeideel</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            Warmtelekken bij daken
          </button>
        </h5>
      </div>
      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Warmtelekken zijn een veelvoorkomend probleem bij daken. In dit
            artikel leggen wij u uit hoe warmtelekken ontstaan, waarom dit
            belangrijk, wat het verschil is tussen goede en
            slechte dakkapellen en wat het verschil is daar waar het gaat om uw
            energierekening.
          </p>
          <h5>Wat is een warmtelek?</h5>
          <p class="text-justify">
            De term warmtelekken is op meerdere manier uit te leggen. In dit
            artikel leggen wij dit zo uit: bij de montage van een nieuwe
            bouwwerk (zoals een dakkapel) ontsnapt er warmte van binnen naar
            buiten. Bedenk daarbij dat het andersom ook een probleem is: warmte
            van buiten die naar binnen doordringt, denk maar aan snikhete
            zolders in de zomer.
          </p>
          <h5>Hoe ontstaan warmtelekken?</h5>
          <p class="text-justify">
            Warmtelekken bij dakkapellen kunnen grofweg ontstaan door 3
            oorzaken:
          </p>
          <ul>
            <li>Lage ⦁ isolatiewaarden van de gebruikte materialen.</li>
            <li>Slechte aansluitingen op het dakvlak bij de montage.</li>
            <li>Koudebruggen in de constructie van de dakkapel.</li>
          </ul>
          <h5>Lage isolatiewaarden</h5>
          <p class="text-justify">
            Een ‘lek’ ontstaat in dit geval als het huidige dakbeschot beter
            isoleert dan de dakkapel die erop gezet wordt. Nu is het zo dat veel
            huizen in Nederland een ‘gordingenkap’ hebben, dat is een wat oudere
            constructie waarbij er balken van links naar rechts lopen en op die
            manier een houten dakbeschot ondersteunen waarop de dakpannen
            liggen. Dit dak kan dan nog van binnen (en heel soms) van buitenaf
            geïsoleerd zijn met bv. minerale wol.
          </p>
          <p class="text-justify">
            De Rc waarde van dit soort daken is meestal niet veel hoger dan
            2-2.5 en vaak zelfs minder! De kans op een warmtelek door montage
            van een dakkapel op dit soort daken is dan ook erg klein.
          </p>

          <h4>Klapdak of sporendak</h4>
          <p class="text-justify">
            Anders is het bij nieuwbouwhuizen of huizen met een ‘sporenkap’ of
            ‘klapdak’. Dit zijn vaak beter isolerende kapellen (behalve de wat
            oudere versies hiervan) en hebben een Rc waarde van minimaal 2.5
            oplopend tot 6.0 of nog hoger. Een klapdak is een dak dat in zijn
            geheel geplaatst wordt. Dit dak heeft geen zichtbare balken
            op zolder en bestaat uit kant en klare platen die (vaak) geïsoleerd
            zijn met hardschuim.
          </p>
          <p class="text-justify">
            De oudere versies hebben vaak nog minerale wol in de constructie.
            Stel dat een dakkapel met een Rc waarde van 2.5 gemonteerd wordt op
            een sporenkapel met een Rc waarde van 4.5/6.0 dan is het duidelijk
            dat de dakkapel de ‘zwakke’ plek is en er dus via die dakkapel
            warmte kan ontsnappen. Warmte is namelijk druk die wil ontsnappen en
            zal altijd de zwakste plek in een constructie zoeken.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-9-Image-7.png' %}"
          />
          <p class="text-center font-italic">
            Een klapdak is een dak dat in zijn geheel geplaatst wordt en heeft
            geen zichtbare balken op zolder en bestaat uit kant en klare platen
            die vaak geïsoleerd zijn met hardschuim.
          </p>
          <h5>Slechte aansluitingen</h5>
          <p class="text-justify">
            De wangen (zijkanten) van een dakkapel, de onderzijde van het kozijn
            (of paneel onder het kozijn) en de ‘achterbak’ (achterzijde van het
            dak dat tegen het dakbeschot aanleunt) vormen samen de aansluiting
            op het dak beschot. Deze aansluitingen moeten zo goed mogelijk zijn
            en strak tegen het dakbeschot aan gemonteerd worden. Anders kan er
            lucht doorheen ontsnappen wat uiteraard een warmtelek oplevert.
            De loodslabben (of ander materiaal zoals bijvoorbeeld ubiflex,
            verholen goten, EPDM) aan de wangzijden en de voorzijde moeten ook
            goed aangebracht zijn.
          </p>
          <h5>Achterbak</h5>
          <p class="text-justify">
            Maar het grootste probleem vormt toch de achterbak. Dit is een
            schuine plaat die gemaakt is met dezelfde hellingshoek als het
            bestaande dak en die ook goed geïsoleerd moet zijn. Klopt de
            hellingshoek niet helemaal (en dit moet op de graad goed zijn!) dan
            ontsnapt er veel warmte door omdat het een relatief groot
            contactoppervlak is. Is de achterbak niet goed geïsoleerd dan
            ontstaat er weer condensvochtdoorslag- een geheel ander en veel
            ernstiger probleem. Bovendien vormen de hoekpunten en de
            aansluitingen op het dak weer een extra mogelijk probleem omdat dit
            een lastig punt is. Loodslabben en EPDM dakbedekking moeten lang
            genoeg zijn en voldoende overlap hebben om warmtelekken en lekkages
            te voorkomen.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-10-Image-8.png' %}"
          />

          <h5>Koudebruggen</h5>
          <p class="text-justify">
            Het is mooi als een dakkapel gemaakt wordt van hoog isolerend
            materiaal, bijvoorbeeld unilin dakplaten met een Rc waarde van 6.0.
            Maar als deze platen niet op de juiste wijze verwerkt worden in de
            constructie als geheel dan kunnen er veel ‘koudebruggen’ ontstaan
            (of thermische bruggen). Uiteindelijk is een dakkapel altijd gemaakt
            met een houten constructie waarop de wangen en het dak en het kozijn
            rusten.
          </p>
          <p class="text-justify">
            Alle aansluitingen moeten dus strak zijn en zoveel mogelijk
            verzonken gemonteerd worden en eventueel overlap hebben. Het voert
            te ver om dit technisch goed toe te lichten maar er komt veel bij
            kijken om een dakkapel echt goed te bouwen. Het lijkt wellicht
            eenvoudig maar er kan ook heel veel fout gaan omdat het helaas niet
            zo simpel is allemaal. Zoek daarom een bedrijf met veel ervaring en
            goede referenties om ellende achteraf te voorkomen.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-12-Image-9.png' %}"
          />
          <p class="text-center font-italic">
            De meeste warmte in een woning gaat verloren via het dak. Is een
            dakkapel niet goed geplaatst of opgebouwd dan verliest u veel
            onnodige warmte
          </p>
          <h5>Thermische brug</h5>
          <p class="text-justify">
            Tot slot de energierekening: wat is nu het verschil? Dat is lastig
            te zeggen en in elke situatie weer anders. Wel is bekend dat de
            meeste warmte door het dak ontsnapt. Hoeveel meer dit aan kosten met
            zich meebrengt is overal anders maar gunstig is het nooit. Isolatie
            wordt niet voor niets gepromoot en zal altijd honderden euro’s per
            jaar besparen.
          </p>
          <p class="text-justify">
            Onderaan de streep geldt echter wel dat een dakkapel met
            warmtelekken eerst opgelost moet worden. Simpelweg omdat is maar
            eigenlijk is het zo een dakkapel met (teveel) warmtelekken niet
            deugdelijk is en dat is op zich een veel groter probleem.
          </p>
          <p class="text-justify">
            Verschillen tussen een goede en een slechte dakkapel als het gaat om
            warmtelekken zijn indicatief voor veel meer problemen en
            ondeskundigheid bij de bouwer. Verdiep u er daarom in en weet wat u
            koopt!
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-13-Image-10.png' %}"
          />
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            Wat is een klapdak?
          </button>
        </h5>
      </div>
      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Een klapdak is een dak dat letterlijk opgeklapt aangeleverd wordt.
            Het dak wordt als 1 geheel gehesen en geplaatst op een woning of
            gebouw. Vaak zijn klapdaken gemaakt van unilin dakplaten (met dit
            materiaal maken wij onze dakkapellen). Het wordt ook wel ‘sporenkap’
            genoemd en refereert dan aan het feit dat er ‘sporen’ (houten
            balken) in de langwerpige platen zitten tussen het
            isolatiemateriaal.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-14-Image-11.png' %}"
          />
          <p class="text-center font-italic">
            Hier ziet u een klapdak dat geplaatst wordt in een nieuwbouwwijk
          </p>
          <h5>Voordeel van een klapdak</h5>
          <p class="text-justify">
            Klapdaken worden al lang gemaakt (eind jaren 70) en hebben als grote
            voordeel dat het gehele dak in een fabriek gemaakt kan worden en met
            de kraan gehesen kan worden. Dit bespaart tijd en in de bouw is tijd
            geld natuurlijk. De bouwvakkers hoeven vaak alleen nog de dakpannen
            en folie erop aan te brengen. De panlatten zitten meestal al op de
            platen namelijk.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-15-Image-12.png' %}"
          />
          <p class="text-center font-italic">
            Een klapdak is een dak dat in zijn geheel geplaatst wordt en heeft
            geen zichtbare balken op zolder en bestaat uit kant en klare platen
            die vaak geïsoleerd zijn met hardschuim.
          </p>
          <h5>Vrijwel alle daken zijn klapdaken</h5>
          <p class="text-justify">
            Tegenwoordig worden vrijwel alle daken als klapdak geplaatst, alleen
            de duurdere woningen die onder architectuur gebouwd worden hebben
            soms nog een ‘gordingenkap’ (houten balken en dakbeschot). Daarmee
            heb je namelijk meer vormvrijheid en dus mogelijkheden speciale
            constructies te bouwen alhoewel sporenkappen of klapdaken ook in
            veel vormen te maken zijn. Soms moet er dan wel een speciale hoek
            handmatig bevestigd worden en kan dan nog wel het grootste deel erop
            geklapt worden
          </p>
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="heading6">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse6"
            aria-expanded="false"
            aria-controls="collapse6"
          >
            RC Waarde woning met dakkapel
          </button>
        </h5>
      </div>
      <div
        id="collapse6"
        class="collapse"
        aria-labelledby="heading6"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Als we praten over de ‘Rc waarde’ dan wordt vaak de isolatiewaarde
            van (in ons geval) de unilin dakplaat als geheel bedoeld. Deze
            platen zijn in allerlei Rc waarden te bestellen. Benelux dakkapellen
            levert isolatiewaarden tussen de Rc 3.5 en 6.0, afhankelijk van de
            wens van de klant of afgestemd op de huidige situatie.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-16-Image-13.png' %}"
          />
          <p class="text-center font-italic">
            Plaatmateriaal is in allerlei RC Waarden te verkrijgen
          </p>
          <h5>De R-Waarde en de C-Waarde</h5>
          <p class="text-justify">
            De R-waarde (altijd uitgedrukt in x m2 K/W) wordt ook wel
            ‘warmteweerstand’ genoemd en de letter ’c’ geeft dan de constructie
            als geheel aan – in ons geval de plaat met al zijn onderdelen. Elk
            materiaal heeft een zogenaamde ‘warmtegeleidingscoëfficiënt’. Een
            goed isolerend dak zorgt er voor dat de warmte binnen beter
            vastgehouden wordt. Andersom blijft koude of (extreme) warmte van
            buiten met een hoge Rc waarde beter buiten i.p.v. dat deze snel de
            binnenruimte doordringt.
          </p>
          <h5>RC Waarde</h5>
          <p class="text-justify">
            Bij de doorberekening van alle R waarden moet u dan ook rekening
            houden met alle constructies al geheel. Dan ontstaat de
            uiteindelijke Rc waarde. Het berekenen van de Rc waarde is een
            theoretische zaak. De manier waarop gebouwd wordt bepaald de ‘echte’
            Rc waarde omdat de bouwwijze bijvoorbeeld thermische bruggen (of
            koudebruggen) in de hand werkt of juist voorkomt.
          </p>
          <h5>Voorkomen van warmtelekke</h5>
          <p class="text-justify">
            Van een materiaal is bekend welke warmteweerstand dit heeft (m2 K/W)
            en welke warmtegeleidingscoëfficiënt. Ook de dikte van het materiaal
            is van belang. Dan is de R waarde eenvoudig te berekenen. Omdat
            isolatiemateriaal overal voorkomt (wanden, glas, daken, vloer) moet
            alles ook optimaal gecombineerd worden en goed gebouwd zijn om
            uiteindelijke en goede Rc waarde te behalen. Kozijnen die ingebouwd
            worden maar rondom niet goed aansluiten creëren enorme warmtelekken.
            Dit geldt natuurlijk ook bij de plaatsing van dakkapellen en andere
            bouwwerken die vaak achteraf neergezet worden.
          </p>

          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-18-Image-14.png' %}"
          />

          <p class="text-center font-italic">
            Een energieneutraal huis krijg je niet alleen door goede isolatie.
            Ook het voorkomen van warmtelekken speelt een belangrijke rol. (Bron
            foto: Milieu Centraal)
          </p>
          <h5>Belang van de RC Waarde</h5>
          <p class="text-justify">
            De Rc waarde of meer algemeen de R waarde speelt tegenwoordig een
            steeds belangrijkere rol in de bouw. Dit komt door strengere
            regelgeving die ingegeven wordt door een milieubeleid dat erop
            gericht is zoveel mogelijk energie te besparen waardoor CO-2
            uitstoot verder beperkt kan worden. Er worden al nieuwbouwprojecten
            neergezet met energie neutrale woningen. Deze woningen hebben vaak
            een dak met een Rc waarden van tussen de 6-8 en muren met een Rc
            waarde van minimaal 4,5 gecombineerd met zonneboilers en
            zonnepanelen.
          </p>
        </div>
      </div>
    </div>
    <div class="card faqcard">
      <div class="card-header" id="heading7">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse7"
            aria-expanded="false"
            aria-controls="collapse7"
          >
            Isolatiewaarden daken
          </button>
        </h5>
      </div>
      <div
        id="collapse7"
        class="collapse"
        aria-labelledby="heading7"
        data-parent="#accordion"
      >
        <div class="card-body">
          <span
            >Bij het plaatsen van een dakkapel speelt de isolatiewaarde van een
            dak een belangrijke rol.
          </span>
          <h5>Hoog isolerende platen</h5>
          <p class="text-justify">
            De daken maar ook de wangen (zijkanten) van onze dakkapellen worden
            gemaakt van zogenaamde unilin dakplaten. Dit zijn hoog isolerende
            platen die bestaan uit een dikke schuimlaag (PIR hardschuim) met een
            gecombineerde onder- en bovenplaat (sandwich). In deze platen
            (tussen het schuim en tegen de onder- en de bovenplaat aan) zijn
            houten sporen (latten) gemonteerd. Dit geeft de plaat in zijn geheel
            een goede stevigheid.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-19-Image-15.png' %}"
          />
          <p class="text-center font-italic">
            De Rc waarde van 6.0 voor het dak en een Rc waarde van 4,5 voor de
            wangen is verplicht in nieuwbouw en wordt soms ook verplicht gesteld
            door gemeenten bij verlening van vergunningen.
          </p>
          <p class="text-justify">
            Op de daken wordt dan nog een EPDM rubberlaag gemonteerd en het dak
            wordt ‘op afschot’ gemonteerd voor een optimale waterafvoer. Tegen
            de wangen aan wordt de gekozen buitenbekleding gemonteerd (HPL ,
            Keralit of bv. zink).
          </p>
          <h5>RC Waarde van de hele dakplaat</h5>
          <p class="text-justify">
            Als we praten over de ‘isolatiewaarde’ dan wordt vaak de Rc waarde
            van (in ons geval) de unilin dakplaat als geheel bedoeld. Deze
            platen zijn in allerlei Rc waarden te bestellen. Benelux dakkapellen
            levert isolatiewaarden tussen de Rc 3.5 en 6.0, afhankelijk van de
            wens van de klant of afgestemd op de huidige situatie. De R-waarde
            (altijd uitgedrukt in x m2 K/W) wordt ook wel ‘warmteweerstand’
            genoemd en de letter ’c’ geeft dan de constructie als geheel aan –
            in ons geval de plaat met al zijn onderdelen. Elk materiaal heeft
            een zogenaamde ‘warmtegeleidingscoëfficiënt’. Een goed isolerend dak
            zorgt er voor dat de warmte binnen beter vastgehouden wordt.
            Andersom blijft koude of (extreme) warmte van buiten met een hoge Rc
            waarde beter buiten i.p.v. dat deze snel de binnenruimte doordringt.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-20-Image-16.png' %}"
          />
          <p class="text-center font-italic">
            De daken en wangen van onze dakkapellen worden gemaakt van unilin
            dakplaten
          </p>
          <h5>De hoogste isolatiewaarde, noodzakelijk?</h5>
          <p class="text-justify">
            Het is overigens niet in elk geval noodzakelijk of zinvol is te
            kiezen voor de hoogste isolatiewaarde (i.v.m. de kosten). Op een
            bestaand ouder dak (gordingenkap) is een waarde van Rc 3,5 vaak ruim
            voldoende omdat dit dak toch niet na te isoleren is met een waarde
            hoger dan die Rc 3,5. Meestal komt men niet hoger dan Rc 2,5 bij
            na-isolatie van het dak. Een dakkapel met een veel hogere Rc waarde
            is dan niet echt nodig en heeft zelfs nadelen zoals mindere
            stahoogte (door de dikkere platen).
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-21-Image-17.png' %}"
          />
          <p class="text-center font-italic">
            Een voorbeeld van een hoog isolerende plaat.
          </p>
          <h5>Verplicht in nieuwbouw</h5>
          <p>
            De Rc waarde van 6.0 voor het dak en een Rc waarde van 4,5 voor de
            wangen is verplicht in nieuwbouw en wordt soms ook verplicht gesteld
            door gemeenten bij verlening van vergunningen. Het meest recente
            bouwbesluit neemt deze waarden ook als uitgangspunt. Hoe men aan de
            Rc waarde komt van een bepaald isolatiemateriaal is een vrij
            ingewikkelde berekening en komt voor de verantwoordelijkheid van de
            fabrikant die het materiaal aanlevert (Rd waarde, de R waarde die
            ‘declared’ is). Over isolatiewaarden wordt nog steeds heel veel
            verkeerde informatie verspreid en het is daarom zaak alleen zaken te
            doen met betrouwbare partijen die onafhankelijk gecontroleerd
            worden.
          </p>
        </div>
      </div>
    </div>

    <div class="card faqcard">
      <div class="card-header" id="heading8">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse8"
            aria-expanded="false"
            aria-controls="collapse8"
          >
            Wat is een overstek?
          </button>
        </h5>
      </div>
      <div
        id="collapse8"
        class="collapse"
        aria-labelledby="heading8"
        data-parent="#accordion"
      >
        <div class="card-body">
          <span
            >Wilt u weten wat een overstek is en wat de functie hier van is bij
            dakkapellen?
          </span>
          <h5>Wat is een overstek?</h5>
          <p class="text-justify">
            Er zijn meerdere omschrijvingen van een overstek, o.a.: • Het
            overhangende gedeelte van het dak, van een verdieping of een
            gootconstructie. • Horizontale voorsprong van een bouwdeel of
            bouwonderdeel, bijvoorbeeld een lijst, verdieping, goot of dak ten
            opzichte van het eronder staande. Het kan dus ook een verdieping van
            een gebouw zijn wat uitsteekt. Dit zag u in het verleden vaak in de
            grote steden waar de ruimte op de grond beperkt was. Om toch meer
            ruimte te krijgen liet men vaak de bovenliggende verdieping
            uitsteken door of de verdiepingsbalken door te laten lopen of aparte
            draagbalkjes te bevestigen. Voor het gemak houden wij het bij ‘het
            uitstekende deel van een dak boven een constructie’.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-23-Image-18.png' %}"
          />
          <h5>Functie overstek</h5>
          <p class="text-justify">
            Het uiterlijk van een dakkapel wordt verfraaid door een overstek.
            Ook wordt hierdoor het dak iets groter waardoor er bijvoorbeeld
            extra ruimte gecreëerd wordt voor zonnepanelen. Een overstek kan ook
            als zonwering worden gebruikt als het maar ver genoeg uitsteekt maar
            bij dakkapellen is dat eigenlijk nooit aan de orde. Bij schuine
            daken wordt de dakgoot vaak in het overstek verwerkt waardoor de
            vaak ontsierende dakgoot wordt verborgen.
          </p>
          <h5>Constructie overstek</h5>
          <p class="text-justify">
            Een overstek bij een plat dak wordt meestal gevormd door de
            draagbalken van een dak, door te laten lopen tot buiten de
            buitenmuur. Afhankelijk van de gewenste functie en de mogelijkheden
            wordt de breedte bepaald. Een Benelux dakkapel heeft een dak dat uit
            1 deel gebouwd wordt en is daarmee een constructief onderdeel van de
            dakkapel geworden.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-24-Image-19.png' %}"
          />
          <p class="text-justify">
            Deze constructie wordt vaak gebruikt bij het ter plekke bouwen van
            een dakkapel. Benelux Dakkapellen gebruikt alleen speciaal
            isolerende dakplaten. Deze worden dusdanig geplaatst dat de
            uitstekende zijkanten kan worden bekleed met boeidelen en een
            overstek.
          </p>
          <h5>HPL-beplating of Keralit panelen</h5>
          <p class="text-justify">
            Dit kan met HPL of Keralit panelen die gelijmd worden bevestigd, net
            als de buitenkant van de wangen van de dakkapel. Alle panelen worden
            verlijmd bij Benelux Dakkapellen omdat bevestiging met schroeven
            minder sterk is door werking van de buitenmaterialen
            (temperatuurschommelingen). Door de werking van de materialen kunnen
            schroeven op den duur los komen waardoor water op een gegeven moment
            vrij spel krijgt om door te dringen in de achterliggende
            constructie. Op de bovenzijde van het overstek wordt op de rand een
            daktrim geplaatst van meestal aluminium om de dakbedekking vast te
            kunnen zetten. Benelux Dakkapellen gebruikt een platte aluminium
            daktrim of een aluminium kraal. Geen loden kraal omdat deze op den
            duur ernstig kan gaan bobbelen en daardoor lekkages kan veroorzaken.
          </p>
          <h5>Wat is het belang een overstek van een dakkapel?</h5>
          <p class="text-justify">
            Zoals hierboven al is beschreven kan een overstek een belangrijke
            rol spelen bij een dakkapel. Zowel esthetische als praktische
            overwegingen spelen hierbij een rol. Het is aan u wat u belangrijk
            vindt.
          </p>
          <h5>Benelux Dakkapellen helpt</h5>
          <p class="text-justify">
            Wilt u een overstek laten plaatsen? Wij kunnen u daarbij helpen. U
            kunt ons altijd vrijblijvend om advies vragen
          </p>
        </div>
      </div>
    </div>

    <div class="card faqcard">
      <div class="card-header" id="heading9">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse9"
            aria-expanded="false"
            aria-controls="collapse9"
          >
            Wat is een boeideel?
          </button>
        </h5>
      </div>
      <div
        id="collapse9"
        class="collapse"
        aria-labelledby="heading9"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Een boeideel is een vorm van dakrandafwerking. Deze afwerking kan
            zijn van een dakgoot, de onderzijde van een plat dak of in ons geval
            de rand rondom het dak van de dakkapel. De hoogte, dikte en het
            materiaal en de vorm/uitstraling ervan zijn weer een belangrijk
            esthetisch element van uw dakkapel.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-26-Image-20.png' %}"
          />
          <h5 class="mt-3">Het overstek</h5>
          <p class="text-justify">
            De onderzijde van het boeideel is overigens het overstek. De diepte
            van dit overstek (hoe ver het dak uitsteekt aan de voorzijde en de
            zijkanten) is bij ons standaard 12 cm en als u een rolluik hebt
            wordt dit aan de voorzijde 22 cm. De hoogte van het boeideel ligt
            tussen de 20 en 26 cm, dit hangt af van de dikte van de isolatie in
            uw dak. Benelux Dakkapellen levert uitsluitend kunststof dakkapellen
            en daarom is het boeideel ook van HPL , Swiss of Keralit. De
            afwerking aan de bovenzijde van het boeideel is de daktrim.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-27-Image-21.png' %}"
          />
        </div>
      </div>
    </div>

    <div class="card faqcard">
      <div class="card-header" id="heading10">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse10"
            aria-expanded="false"
            aria-controls="collapse10"
          >
            Wat is nokhoogte, dakhoogte en daklengte?
          </button>
        </h5>
      </div>
      <div
        id="collapse10"
        class="collapse"
        aria-labelledby="heading10"
        data-parent="#accordion"
      >
        <div class="card-body">
          <span
            >Wat zijn de nokhoogte, dakhoogte en daklengte en welke rol spelen
            ze bij het plaatsen van een dakkapel. Wij hebben het voor u op een
            rij gezet.</span
          >
          <h5>Wat is nokhoogte?</h5>
          <p class="text-justify">
            De nok of noklijn is de bovenste scherpe, meestal horizontale
            snijlijn van twee dakvlakken; de bovenste rand van een dak. Met
            andere woorden het hoogste punt van een schuin dak is dan ook de
            nokhoogte. Er zijn veel verschillende soorten daken (dakvormen),
            platte daken niet meegerekend.
          </p>
          <img src="{% static 'images/faq/Page-28-Image-22.png' %}" />

          <p class="text-justify">
            Al deze dakvormen hebben een hoogste punt in de nok; de nokhoogte
            vanaf de grond (‘maaiveld’). Op tekeningen wordt altijd gemeten
            vanaf ‘het peil’. Dit is de bovenkant van de afgewerkte begane
            grondvloer.
          </p>
          <img src="{% static 'images/faq/Page-28-Image-23.png' %}" />

          <h5>Wat is dakhoogte?</h5>
          <p class="text-justify">
            Zoals in de tekening te zien is de dakhoogte iets anders dan de
            nokhoogte, namelijk de hoogte vanaf de onderkant van het dak
            (dakvoet) tot de bovenkant van de nokgording. Deze is belangrijker
            dan de nokhoogte.
          </p>
          <h5>Is de nokhoogte belangrijk?</h5>
          <p class="text-justify">
            De totale hoogte van het huis tot aan de nok is niet zo belangrijk
            m.b.t. tot het plaatsen van een dakkapel. Wel moet het misschien uit
            esthetisch oogpunt worden meegenomen; past de dakkapel b.v. wel bij
            de vorm van de woning?
          </p>
          <h5>Waarom zijn dakhoogte en daklengte belangrijk?</h5>
          <p class="text-justify">
            De dakhoogte is juist wel belangrijk. De dakhoogte bepaalt niet
            alleen de ruimte onder de nok, de zolder en/of verdieping, maar ook
            de daklengte. De daklengte is bepalend voor de plaats van de
            dakkapel. Deze is namelijk aan regels gebonden. Zo moet bijvoorbeeld
            de onderkant van de dakkapel minimaal 0,5 meter en maximaal 1 meter
            boven de dakvoet worden geplaatst, verticaal gemeten. Loopt het dak
            door en vormt het een overstek, dan kan de onderkant al snel te laag
            komen te zitten t.o.v. de verdiepingsvloer waar de dakkapel moet
            komen. Dit geldt ook wanneer u ‘vergunningsvrij’ kunt plaatsen. De
            bovenkant van de dakkapel moet minimaal 0,5m onder de nokgording
            komen. Dit komt meestal neer op 2 dakpannen onder de nok. Zie
            hiervoor ook dit artikel over vergunningen.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-30-Image-24.png' %}"
          />

          <h5>Nokhoogte, dakhoogte of daklengte (zelf) meten?</h5>
          <p class="text-justify">
            Wanneer er een bouwtekening aanwezig is van de woning, kunt u de
            maten waarschijnlijk vanaf de tekening nemen. Is er geen tekening is
            het de vraag of de nokhoogte belangrijk is om te weten. Wilt u die
            toch weten dan kunt u dit natuurlijk doen vanaf een ladder o.i.d.
            maar dat wordt afgeraden. Laat dit voor u doen of probeer het uit te
            rekenen door andere maten op te nemen die u wel kunt meten. De
            breedte van het dak, de dakhelling (beide dakvlakken) en hoogte van
            het maaiveld naar de dakvoet. Daarna is het goniometrie toepassen;
            driehoekmeetkunde en rekening houden met het midden van het dak.
            Voor de dakhoogte en de daklengte, die we wel willen weten, heeft u
            deze maten ook nodig behalve de hoogte tot de dakvoet. Daarnaast
            moet u weten op welke hoogte de bovenkant van de verdiepingsvloer
            en/of zoldervloer ligt. Al met al gaat het gaat te ver om te dit
            hier te behandelen.
          </p>
          <h5>Benelux dakkapellen meet het voor u.</h5>
          <p class="text-justify">
            Om veiligheidsredenen kunt u het meten beter overlaten aan anderen
            die dit dagelijks doen. Zij hebben vaak meetapparatuur waarmee ze
            deze maten kunnen bepalen. Benelux Dakkapellen heeft vakkundig
            personeel in dienst die de benodigde maten kunnen bepalen. Neem
            contact op met ons voor advies.
          </p>
        </div>
      </div>
    </div>

    <div class="card faqcard">
      <div class="card-header" id="heading11">
        <h5 class="mb-0">
          <button
            class="btn btn-link faqbtn collapsed"
            data-toggle="collapse"
            data-target="#collapse11"
            aria-expanded="false"
            aria-controls="collapse11"
          >
            Wat is een daktrim?
          </button>
        </h5>
      </div>
      <div
        id="collapse11"
        class="collapse"
        aria-labelledby="heading11"
        data-parent="#accordion"
      >
        <div class="card-body">
          <p class="text-justify">
            Een daktrim is de bovenste rand (of profiel) op het boeideel van de
            dakkapel en is een klein maar erg belangrijk onderdeel van de
            dakkapel.
          </p>
          <img
            class="mx-auto d-block"
            src="{% static 'images/faq/Page-31-Image-25.png' %}"
          />

          <ul>
            <li>
              De dakbedekking moet stevig aangedrukt worden en goed om de rand
              (de bekleding van het boeideel) gemonteerd worden. Dit voorkomt
              het inlekken van het dak en vochtproblemen tussen het hout van het
              boeideel en de buitenbekleding zelf (bv. HPL, Keralit).
            </li>
            <li>
              De daktrim zelf moet zoveel mogelijk uit hele lengtes bestaan om
              inscheuring bij de verbindingsstukken te voorkomen.
            </li>
            <li>
              Het is een esthetisch onderdeel van de dakkapel. De meeste
              daktrimmen zijn van aluminium en zijn plat. Er zijn ook ‘kralen’
              dit zijn daktrimmen met een halfronde afwerking aan de voorzijde
              van het boeideel.
            </li>
          </ul>
          <h5>Het gebruik van aluminium</h5>
          <p class="text-justify">
            Omdat Benelux dakkapellen een EPDM dakbedekking gebruikt met een
            lange levensduur is het des te belangrijker te kiezen voor een goede
            daktrim. Standaard gebruiken wij aluminium. Dit materiaal is erg
            sterk en werkt niet of nauwelijks. Ook zal het op lange termijn niet
            gaan bobbelen waardoor er toch lekkages kunnen ontstaan. De zinken
            kraal heeft dit nadeel wel en daarom geven wij de voorkeur aan een
            aluminium kraal als u toch een halfronde afwerking wilt. Deze kraan
            zal op termijn alleen maar mooier worden door verkleuring en
            dezelfde doffe uitstraling krijgen als zink zonder echter de nadelen
            van zink.
          </p>
        </div>
        <img
          class="mx-auto d-block"
          src="{% static 'images/faq/Page-32-Image-26.png' %}"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
