{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5">
  <div>
    <h3 class="font-weight-bold">Dakkapel financiering</h3>

    <h5 class="font-weight-bold">Vraag naar de mogelijkheden</h5>
    <p class="text-justify">
      De financiering van jouw dakkapel is zeker ook een belangrijk vraagstuk.
      Wat is er mogelijk en hoe ga ik het doen? Een dakkapel van Benelux is een
      investering in jouw woning die je rendement en jarenlang meer woonplezier
      oplevert. Een goed idee dus. Wil je meer informatie van een adviseur, neem
      dan contact met ons op!
    </p>
    <h5 class="font-weight-bold">
      Op welke manieren kan ik mijn dakkapel financieren?
    </h5>
    <p class="text-justify">
      Je kunt een dakkapel financieren door een extra hypotheek te nemen of door
      je bestaande hypotheek te verhogen. Het plaatsen van een dakkapel wordt
      gezien als een verbouwing/uitbreiding van jouw woning. Je mag daarom de
      hypotheekrente aftrekken van de belasting. Vraag jouw hypotheekverstrekker
      of tussenpersoon naar meer informatie over het financieren van een
      dakkapel.
    </p>
    <h5 class="font-weight-bold">
      Is een Benelux dakkapel een goede investering?
    </h5>
    <p class="text-justify">
      De solide, onderhoudsarme materialen van een Benelux dakkapel garanderen
      een lange levensduur en een investering die rendement oplevert bij
      eventuele verkoop van je woning. Het garantiecertificaat is namelijk
      overdraagbaar.
    </p>
    <h5 class="font-weight-bold">Heb je nog vragen over onze dakkapellen?</h5>
    <p class="text-justify">
      Is je vraag nog niet beantwoord? Neem dan direct contact met ons op. Of
      kom langs bij ons in de showroom. Dan kunnen we je gelijk laten zien wat
      de mogelijkheden zijn bij Benelux dakkapelen.
    </p>
  </div>
</div>
{% endblock %}
