{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1 class="ftco-animate">Garanties dakkapellen</h1>

  <p class="text-justify ftco-animate">
    Voor een handig kort overzicht m.b.t. garanties dakkapellen kunt u het
    volgende aanhouden:
  </p>

  <ul>
    <li>15 jaar garantie op de dakkapel en de montage.</li>
    <li>Kunststof EPDM dak met 20 jaar garantie.</li>
    <li>
      Garantietermijnen van opties zoals roosters, horren en rolluiken conform
      voorwaarden leveranciers.
    </li>
  </ul>

  <div class="mt-3 mb-3 ftco-animate">
    <h4>Deze zaken zijn van belang</h4>
    <p class="text-justify ftco-animate">
      Onderstaande zaken zijn echter ook van groot belang dus wie verder wil
      lezen vindt hieronder een uitgebreidere omschrijving van garanties
      dakkapellen.
    </p>
    <ul>
      <li>
        KOMO attest met productcertificaat op de kozijnen, de dakbedekking en de
        sandwichconstructie.
      </li>
      <li>Sandwich constructie: sterk, goed isolerend en 100% vochtwerend!</li>
      <li>
        Goed isolerende kozijnen gemaakt door gerenommeerde Duitse fabrikanten.
      </li>
      <li>Standaard kunststof kozijnen met draai-kiep systeem.</li>
      <li>
        Technisch geperfectioneerde dakkapel door jarenlange ervaring en
        specialisatie.
      </li>
      <li>Isolatiewaarde minimaal Rc 3,5.</li>
      <li>Afwerking in hoogkwalitatieve buitenmaterialen.</li>
      <li>HR ++ glas standaard.</li>
    </ul>
    <img src="{% static 'images/garanti/Page-2-Image-1.png'  %}" />
    <p class="text-justify ftco-animate">
      Nog meer garanties dakkapellen hieronder omdat garantie meer omvat dan
      alleen jaartallen. Van groot belang is de toepassing van goede materialen
      en juiste constructies
    </p>
  </div>

  <div class="mb-3 ftco-animate mt-3">
    <h4>Constructie</h4>
    <p class="text-justify ftco-animate">
      Afhankelijk van de dakconstructie, de gewenste breedte en de dak-schuinte
      kan een aanpassing van de dakconstructie uitgevoerd worden. Uitgangspunt
      is altijd dat de dakconstructie na het plaatsen van de dakkapel een
      optimale en constructief goede strekte behoudt. Eventueel wordt een
      constructierapport gemaakt (meerprijs) indien ingrijpende constructieve
      verbouwingen nodig zijn.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Kozijn</h4>
    <p class="text-justify ftco-animate">
      Het kozijn wordt standaard uitgevoerd in glad kunststof, vlak profiel,
      kleur crème of wit van Aluplast, Rehau, Deceuninck, LB of K-vision.
      Optioneel is de binnen- en buitenzijde verkrijgbaar in een breed pallet
      van kleuren uitgevoerd i.c.m. een houtnerf structuur. De profielen van
      slag – en stootvast kunststof worden inwendig versterkt door
      gegalvaniseerd stalen profielen en voorzien van duurzame beglazing en
      afdichtingrubbers. Het kozijn wordt gemonteerd in een houten stelkozijn
      dat met 6 mm HPL vol-kern plaat is bekleed
    </p>
    <img src="{% static 'images/garanti/Page-3-Image-2.png'  %}" />
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Raam</h4>
    <p class="text-justify ftco-animate">
      Standaard uitgevoerd in glad kunststof, kleur crème of wit. Optioneel is
      de binnen- en buitenzijde verkrijgbaar in een breed pallet van kleuren uit
      te voeren i.c.m. een houtnerf structuur. De profielen van slag – en
      stootvast kunststof worden inwendig versterkt door gegalvaniseerd stalen
      profielen en voorzien van duurzame beglazing en afdichtingrubbers. Het
      raam is voorzien van een draai-kiepbeslag met meerpunts-sluiting en
      ventilatiestand. Het geheel geleverd onder KOMO certificaat met Attest.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Glas</h4>
    <p class="text-justify ftco-animate">
      Blank isolerende beglazing met gas gevulde luchtspouw Hr ++. U waarde is
      1,1 W/m2.K
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Plat dak</h4>
    <p class="text-justify ftco-animate">
      Het dak van de dakkapel is plat. Het dak is een KOMO gecertificeerde
      sandwichplaat bestaande uit 2 vochtbestendige houtspaanplaten tussen de
      platen een CGK vrije PU isolatie met een RC isolatiewaarde van 3.5 tot 6.0
      (Type Runner).
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>De Dakbedekking</h4>
    <p class="text-justify ftco-animate">
      Is van EPDM folie en heeft een geschatte levensduur volgens de fabrikant
      van 40 jaar. Deze folie wordt volledig aan het dak gekleefd. Voorzien van
      KOMO attest met certificaat. EPDM folie heeft een onovertroffen weerstand
      tegen ozon, UV straling en veroudering. De EPDM folie blijft soepel bij
      lage temperaturen.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Wangen:</h4>
    <p class="text-justify ftco-animate">
      De wangen zijn opgebouwd – van binnen uit gezien – met een sandwichplaat
      met KOMO certificaat en attest. De sandwichplaat bestaande uit 2
      vochtbestendige houtspaanplaten met een dikte van 10 mm, tussen de platen
      een CGK vrije PU isolatie met een RC waarde van 3.5 tot 6.0. De
      aansluiting tussen het dak en de sandwichplaat wordt gerealiseerd door een
      geïsoleerde achterbak en aan de binnenzijde voorzien van een dampdichte
      folie. Aan de onderzijde (en wangen) wordt lood aangebracht als
      aansluiting op de dakpannen. (Type Runner). Verholen goten of EPDM is ook
      mogelijk.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Buitenzijde</h4>
    <p class="text-justify ftco-animate">
      De buitenzijde van de dakkapel (wangen, front, boeideel, overstek en evt.
      paneeltjes) zijn aan de buitenzijde bekleed met HPL vol-kern plaat. HPL
      platen worden gelijmd en niet geschroefd volgens voorschriften van de
      betreffende fabrikant (schroeven gaan op termijn altijd los zitten omdat
      HPL-platen ‘werken’). Optioneel kunt u ervoor kiezen om de buitenzijde te
      bekleden met Keralit schroten en boeideel panelen met houtnerf structuur
      voor een natuurlijke hout uitstraling of hout of zink.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Rolluiken en screens:</h4>
    <p class="text-justify ftco-animate">
      Deze worden in het overstek geplaatst – en niet in het dak – en standaard
      voorzien van een elektrische bediening met schakelaar. Aansluiting kan dan
      op een stopcontact aan de zijde van de motor. Dit houdt in dat u alleen de
      geleiders ziet en niet de rolluikkast. De kasten, geleiders en lamellen
      zijn
    </p>
    <img src="{% static 'images/garanti/Page-5-Image-3.png'  %}" />
    <p class="text-justify ftco-animate">
      gemoffeld met hoogkwalitatieve poeders en zijn afkomstig van een zeer
      groot Duits bedrijf (Heroal), een specialist in profielen en
      voorzetrolluiken.
    </p>
    <img src="{% static 'images/garanti/Page-5-Image-4.png'  %}" />
    <p class="text-justify ftco-animate">
      Eveneens is het rolluik eenvoudig te demonteren vanuit dit grote overstek.
      Vaak wordt het rolluik in het dak ingebouwd omdat dat minder werk en
      materiaal kost maar bij onderhoud of service moet het dak open gezaagd
      worden. Dat levert het probleem op dat uw dakbedekking niet meer naadloos
      is en er dus een zeer zwakke plek gecreëerd wordt in uw dakbedekking of
      dat de motor niet te vervangen is.
    </p>
  </div>
  <div class="mb-3 ftco-animate mt-3">
    <h4>Kast en de geleiders</h4>
    <p class="text-justify ftco-animate">
      De kast en de geleiders zijn van aluminium en het pantser van geïsoleerde
      aluminium profielen met een stormvaste onderlat en een aluminium profiel
      aan de onderzijde als afsteunpunt ( incl. 2 zg. eindstops). De geleiders
      worden middels een vernuftig systeem gefixeerd wat klapperen van de
      rolluiken voorkomt. De schakelaar (met een op- en neerstand) is een opbouw
      schakelaar, op elk gewenste plaats te monteren.
    </p>
    <p class="text-justify ftco-animate">
      Uit de verschillende motoren hebben we gekozen voor een Somfy motor (type
      Ilmo o.g.). In het verleden zijn er regelmatig problemen geweest met de
      duurzaamheid en betrouwbaarheid van de werking van diverse merken
      elektrische motoren, daarom onze keuze voor dit zeer betrouwbare product.
      Somfy is een zeer gerenommeerde fabrikant van rolluiken en op die manier
      maken wij gebruik van hun jarenlange expertise en goede servicenetwerk. De
      rolluiken regelen zichzelf in, dus u bent altijd verzekerd van een
      optimale afstelling. Tevens heeft de motor een vorst- en
      doorbrandbeveiliging en een obstakel detectie: de motor loopt automatisch
      terug indien dit noodzakelijk is.
    </p>
    <img src="{% static 'images/garanti/Page-6-Image-5.png'  %}" />
  </div>
</div>

{% endblock %}
