{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}


<section class="hero-wrap js-fullheight" style="background-image: url('/static/images/dakkapel1.jpg');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
			<div class="col-lg-6 ftco-animate">
				<div class="mt-5">
					<h1 class="mb-4">We bouwen <br>Alle soorten Dakkapellen</h1>
					<p class="mb-4">Benelux Dakkapel is een jong en dynamisch bedrijf, gevestigd in Tilburg.
						Kwaliteit en betrouwbaarheid staan bij ons immers hoog in het vaandel.</p>
					<p><a href="#" class="btn btn-primary">Onze diensten</a> <a href="#" class="btn btn-white"
							data-toggle="modal" data-target="#exampleModalCenter">Vraag een offerte aan</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2">
	<div class="container">
		<div class="row no-gutters d-flex">
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-engineer-1"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">PLAATSING EN LEVERING DOOR HEEL NEDERLAND</h3>
						<p>Maak niet waar u bent we plaatsen de dakkappelen die u wilt. Onze vakmannen zijn binnen
							no time bij u aan de deur</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2 d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-worker-1"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">Alle soorten dakkapelen</h3>
						<p>Bij Benelux Dakkapellen kunt u terecht voor verschillende types dakkapellen</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-engineer"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">DIRECT EEN OFFERTE OP MAAT</h3>
						<p>Met onze configurator stelt u zelf uw eigen dakkapel samen. U ontvangt van ons dan een
							scherpe prijs zodat de realisatie van de dakkapel van uw dromen dichterbij is dan ooit!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section" id="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-flex align-items-stretch">
				<div class="about-wrap img w-100" style="background-image: url(/static/images/dormer2.jpg);">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-crane"></span></div>
				</div>
			</div>
			<div class="col-md-6 py-5 pl-md-5">
				<div class="row justify-content-center mb-4 pt-md-4">
					<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">Welkom bij Benelux Dakkapellen</span>
						<h2 class="mb-4">We maken voor u de mooiste Dakkappelen</h2>
						<div class="d-flex about">
							<div class="icon"><span class="flaticon-hammer"></span></div>
							<h3>Al meer dan 10 jaar bouwen we voor klanten over heel Nederland</h3>
						</div>
						<p>Benelux Dakkappel staat garant voor snelle service en kan u helpen om een dakkapel binnen
							1 dag te realiseren. Uiteraard tegen scherpe prijzen en 15 jaar garantie op onze
							dakkapellen.</p>
						<div class="d-flex video-image align-items-center mt-md-4">
							<a href="#" class="video img d-flex align-items-center justify-content-center"
								style="background-image: url(/static/images/dormer2.jpg);">
								<span class="fa fa-play-circle"></span>
							</a>
							<h4 class="ml-4">Hier een voorbeeld van hoe wij dakkappelen construeren</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="img" style="background-image: url(/static/images/dak1.jpg);">
					<div class="overlay"></div>
					<h2>Providing Personalized and High Quality Services</h2>
					<p>We can manage your dream building A small river named Duden flows by their place</p>
					<p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Request A Quote</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-half-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<span class="subheading">Our Services</span>
				<h2 class="mb-4">We Offer Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/dakarchitect.jpg);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-architect"></span></div>
						<h2>Architecture</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
						</p>
						<a href="#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/dak2.jpg);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-worker"></span></div>
						<h2>Renovation</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
						</p>
						<a href="#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/dak3.jpg);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-hammer"></span></div>
						<h2>Construction</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
						</p>
						<a href="#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter">
	<div class="img image-overlay" style="background-image: url(/static/images/about-3.jpg);"></div>
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6 py-5 bg-secondary aside-stretch">
				<div class="heading-section heading-section-white p-4 pl-md-0 py-md-5 pr-md-5">
					<span class="subheading">Wilcon A Construction Company</span>
					<h2 class="mb-4">Best Provider for Industrial Services</h2>
					<h4>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts.</h4>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
						there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
						Semantics, a large language ocean</p>
				</div>
			</div>
			<div class="col-md-6 d-flex align-items-center">
				<div class="row">
					<div class="col-md-12 d-flex counter-wrap ftco-animate">
						<div class="block-18 bg-primary d-flex align-items-center justify-content-between">
							<div class="icon d-flex align-items-center justify-content-center"><span
									class="flaticon-engineer"></span></div>
							<div class="text">
								<strong class="number" data-number="48000">0</strong>
								<span>Project Completed</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 d-flex counter-wrap ftco-animate">
						<div class="block-18 d-flex align-items-center justify-content-between">
							<div class="icon d-flex align-items-center justify-content-center"><span
									class="flaticon-worker-1"></span></div>
							<div class="text">
								<strong class="number" data-number="54900">0</strong>
								<span>Happy Customers</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Our Global Work Industries</span>
				<h2 class="mb-4">Latest Projects</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak4.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak5.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak6.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak7.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak8.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak4.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Building</span>
						<h3>Building A Condominium</h3>
						<p><span class="fa fa-map-marker mr-1"></span> San Francisco, California, USA</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section img">
	<div class="overlay"></div>
	<div class="container">
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-6 p-4 pl-md-0 py-md-5 pr-md-5 aside-stretch d-flex align-items-center">
				<div class="heading-section heading-section-white">
					<span class="subheading" style="color:#fff;">Read Testimonials</span>
					<h2 class="mb-4" style="font-size: 50px;">It's always a joy to hear that the work we do has
						positively reviews</h2>
				</div>
			</div>
			<div class="col-md-6 pl-md-5 py-4 py-md-5 aside-stretch-right">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/person_1.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
								<p class="name">Jeff Freshman</p>
								<span class="position">Guests</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/person_2.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
								<p class="name">Jeff Freshman</p>
								<span class="position">Guests</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/person_3.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
								<p class="name">Jeff Freshman</p>
								<span class="position">Guests</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/person_1.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
								<p class="name">Jeff Freshman</p>
								<span class="position">Guests</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/person_3.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries
									Vokalia and Consonantia, there live the blind texts. Separated they live in
									Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
								<p class="name">Jeff Freshman</p>
								<span class="position">Guests</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close d-flex align-items-center justify-content-center"
					data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="fa fa-close"></span>
				</button>
			</div>
			<div class="modal-body p-4 p-md-5">
				<form action="#" class="appointment-form ftco-animate">
					<h3>Request Quote</h3>
					<div class="">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
					<div class="">
						<div class="form-group">
							<div class="form-field">
								<div class="select-wrap">
									<div class="icon"><span class="fa fa-chevron-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Select Your Services</option>
										<option value="">Architecture</option>
										<option value="">Renovation</option>
										<option value="">Construction</option>
										<option value="">Interior &amp; Exterior</option>
										<option value="">Chemical Research</option>
										<option value="">Petroleum &amp; Gas</option>
										<option value="">Other Services</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="4" class="form-control"
								placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}