{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}


<section class="hero-wrap js-fullheight" style="background-image: url('/static/images/rollui/Page-4-Image-5.png');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
			<div class="col-lg-6 ftco-animate">
				<div class="mt-5">
					<h1 class="mb-4">We bouwen <br>Alle soorten Dakkapellen</h1>
					<p class="mb-4">Benelux Dakkapel is een jong en dynamisch bedrijf, gevestigd in Tilburg.
						Kwaliteit en betrouwbaarheid staan bij ons immers hoog in het vaandel.</p>
					<p><a href="#" class="btn btn-primary">Onze diensten</a> <a href="#" class="btn btn-white"
							data-toggle="modal" data-target="#exampleModalCenter">Vraag een offerte aan</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2">
	<div class="container">
		<div class="row no-gutters d-flex">
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-engineer-1"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">PLAATSING EN LEVERING DOOR HEEL NEDERLAND</h3>
						<p>Maak niet waar u bent we plaatsen de dakkappelen die u wilt. Onze vakmannen zijn binnen
							no time bij u aan de deur</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2 d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-worker-1"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">Alle soorten dakkapelen</h3>
						<p>Bij Benelux Dakkapellen kunt u terecht voor verschillende types dakkapellen</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-flex">
					<div class="icon justify-content-center align-items-center d-flex"><span
							class="flaticon-engineer"></span></div>
					<div class="media-body pl-4">
						<h3 class="heading mb-3">DIRECT EEN OFFERTE OP MAAT</h3>
						<p>Met onze configurator stelt u zelf uw eigen dakkapel samen. U ontvangt van ons dan een
							scherpe prijs zodat de realisatie van de dakkapel van uw dromen dichterbij is dan ooit!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section" id="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-flex align-items-stretch">
				<div class="about-wrap img w-100" style="background-image: url(/static/images/rollui/Page-2-Image-1.png);">
					<div class="icon d-flex align-items-center justify-content-center"><span
							class="flaticon-crane"></span></div>
				</div>
			</div>
			<div class="col-md-6 py-5 pl-md-5">
				<div class="row justify-content-center mb-4 pt-md-4">
					<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">Welkom bij Benelux Dakkapellen</span>
						<h2 class="mb-4">We maken voor u de mooiste Dakkappelen</h2>
						<div class="d-flex about">
							<div class="icon"><span class="flaticon-hammer"></span></div>
							<h3>Al meer dan 10 jaar bouwen we voor klanten over heel Nederland</h3>
						</div>
						<p>Benelux Dakkappel staat garant voor snelle service en kan u helpen om een dakkapel binnen
							1 dag te realiseren. Uiteraard tegen scherpe prijzen en 15 jaar garantie op onze
							dakkapellen.</p>
						<div class="d-flex video-image align-items-center mt-md-4">
							<a href="#" class="video img d-flex align-items-center justify-content-center"
								style="background-image: url(/static/images/dormer2.jpg);">
								<span class="fa fa-play-circle"></span>
							</a>
							<h4 class="ml-4">Hier een voorbeeld van hoe wij dakkappelen construeren</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="img" style="background-image: url(/static/images/dak1.jpg);">
					<div class="overlay"></div>
					<h2>Benelux Dakkapellen levert u de beste service en kwaliteit</h2>
					<p>Wij helpen u met het realiseren van uw gewenste Dakkapel!</p>
					<p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Vraag een offerte</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-half-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<span class="subheading">Onze diensten</span>
				<h2 class="mb-4">We bieden de volgende diensten aan</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/faq/Page-14-Image-11.png);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-architect"></span></div>
						<h2>Architectuur tekenen</h2>
						<p>Wij gaan samen met uw van A tot Z, waarbij we beginnen met het tekenen van uw ideale Dakkapel
						</p>
						<a href="#" class="btn-custom">Lees meer</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/rollui/Page-2-Image-1.png);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-worker"></span></div>
						<h2>Project uitvoer</h2>
						<p>Het maakt niet uit wat voor gebouw u hebt, wij kunnen werken met elk soort materiaal
						</p>
						<a href="#" class="btn-custom">Lees meer</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate">
					<div class="img" style="background-image: url(/static/images/werk/Page-2-Image-3.png);"></div>
					<div class="text">
						<div class="icon"><span class="flaticon-hammer"></span></div>
						<h2>Volledige project uitvoer</h2>
						<p>Heeft u al een dakkappel, maar wilt u een verfrissende blik vormgeven, wij staan voor u klaar
						</p>
						<a href="#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter">
	<div class="img image-overlay" style="background-image: url(/static/images/werk/Page-1-Image-1.png);"></div>
	<div class="container">
		<div class="row no-gutters">s
			<div class="col-md-6 py-5 bg-secondary aside-stretch">
				<div class="heading-section heading-section-white p-4 pl-md-0 py-md-5 pr-md-5">
					<span class="subheading">Benelux Dakkapellen</span>
					<h2 class="mb-4">Al 10 jaar ervaring in het leggen van Dakkapellen</h2>
					<h4>Samen met uw gaan we kijken wat het beste plan voor u is. U beslist, wij nemen actie!</h4>
					<p>Met een vaste team van monteurs en architecten zorgen we voor een uitgebreide plan en project om uw 
						dromen te realiseren
					</p>
				</div>
			</div>
			<div class="col-md-6 d-flex align-items-center">
				<div class="row">
					<div class="col-md-12 d-flex counter-wrap ftco-animate">
						<div class="block-18 bg-primary d-flex align-items-center justify-content-between">
							<div class="icon d-flex align-items-center justify-content-center"><span
									class="flaticon-engineer"></span></div>
							<div class="text">
								<strong class="number" data-number="48">0</strong>
								<span>Projecten afgerond</span>
							</div>
						</div>
					</div>
					<div class="col-md-12 d-flex counter-wrap ftco-animate">
						<div class="block-18 d-flex align-items-center justify-content-between">
							<div class="icon d-flex align-items-center justify-content-center"><span
									class="flaticon-worker-1"></span></div>
							<div class="text">
								<strong class="number" data-number="12">0</strong>
								<span>Aantal teamleden</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Benelux Dakkappelen</span>
				<h2 class="mb-4">Reeds gerealiseerde projecten</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/rollui/Page-3-Image-4.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/rollui/Page-3-Image-4.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span> Tilburg</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/rollui/Page-4-Image-5.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/rollui/Page-4-Image-5.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span>Breda</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/rollui/Page-2-Image-1.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/rollui/Page-2-Image-1.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span>Eindhoven</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/prefab/Page-1-Image-1.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/prefab/Page-1-Image-1.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span>Utrecht</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/rollui/Page-2-Image-2.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/rollui/Page-2-Image-2.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span>Oss</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/garanti/Page-5-Image-3.png' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/garanti/Page-5-Image-3.png);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Benelux Dakkappel</span>
						<p><span class="fa fa-map-marker mr-1"></span>Roermond</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section img">
	<div class="overlay"></div>
	<div class="container">
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-6 p-4 pl-md-0 py-md-5 pr-md-5 aside-stretch d-flex align-items-center">
				<div class="heading-section heading-section-white">
					<span class="subheading" style="color:#fff;">Wat onze klanten over ons zeggen</span>
					<h2 class="mb-4" style="font-size: 50px;">Het is altijd leuk om onze klanten bij te maken met het realiseren van opmaat werk 
					Dakkappellen</h2>
				</div>
			</div>
			<div class="col-md-6 pl-md-5 py-4 py-md-5 aside-stretch-right">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/dak5.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Benelux Dakkapel heeft ons in alle stappen onderstuend en ook nazorg gedaan. We zijn zeer
									tevreden over het dakkappel dat ze bij ons hebben gebouwd!
								</p>
								<p class="name">Jan Klaasman</p>
								<span class="position">Eindhoven</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/dak6.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Mooie stuk werk gebouwd door Benelux DAkkappelen. In alle stappen zijn we geholpen!</p>
								<p class="name">Peter Gerrit</p>
								<span class="position">Tilburg</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/dak7.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Benelux Dakkapel heeft ons in alle stappen onderstuend en ook nazorg gedaan. We zijn zeer
									tevreden over het dakkappel dat ze bij ons hebben gebouwd!</p>
								<p class="name">Anna Stappers</p>
								<span class="position">Bergen op Zoom</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/dak3.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Benelux Dakkapel heeft ons in alle stappen onderstuend en ook nazorg gedaan. We zijn zeer
									tevreden over het dakkappel dat ze bij ons hebben gebouwd!</p>
								<p class="name">Ad van Stappen</p>
								<span class="position">Utrecht</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4 pb-5 d-flex justify-content-between align-items-end">
							<div class="user-img" style="background-image: url(/static/images/dak2.jpg)">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="fa fa-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-4">Benelux Dakkapel heeft ons in alle stappen onderstuend en ook nazorg gedaan. We zijn zeer
									tevreden over het dakkappel dat ze bij ons hebben gebouwd!</p>
								<p class="name">Arie van Bergen</p>
								<span class="position">Breda</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}