{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1>Kenmerken “Runner” Dakkapel</h1>
  <p class="text-justify">
    Alle kenmerken van de meest verkochte dakkapel van Benelux dakkapellen: de
    ‘Runner’ kunststof prefab dakkapel. Wat zijn de kenmerken van deze Benelux
    dakkapel nu precies?
  </p>
  <h4>Kenmerken op een rij:</h4>

  <ul class="ftco-animate">
    <li class="ftco-animate">
      Volledig onderhoudsvrije kunststof prefab dakkapel.
    </li>
    <li class="ftco-animate">In 1 dag geplaatst met een kraan.</li>
    <li class="ftco-animate">
      Sandwich constructie: sterk, goed isolerend en 100% vochtwerend!
    </li>
    <li class="ftco-animate">
      Isolatiewaarde minimaal Rc 3,5 en Rc 6.0 is ook mogelijk.
    </li>
    <li class="ftco-animate">Kunststof EPDM dak met 25 jaar garantie.</li>
    <li class="ftco-animate">15 jaar garantie op de dakkapel en de montage.</li>
    <li class="ftco-animate">
      Topkwaliteit kozijnen gemaakt door gerenommeerde Duitse fabrikanten.
    </li>
    <li class="ftco-animate">
      Standaard kunststof kozijnen met draai-kiep systeem.
    </li>
    <li class="ftco-animate">
      KOMO attest met productcertificaat op de kozijnen, de dakbedekking en de
      sandwichconstructie.
    </li>
    <li class="ftco-animate">HR ++ glas ( U waarde 1,1 W/m2K) standaard.</li>
    <li class="ftco-animate">
      Afwerking standaard met hoogkwalitatief verlijmde HPL buitenbekleding en
      Swiss frontpanelen.
    </li>
    <li class="ftco-animate">
      HPL in donkergroen, donkerblauw en antraciet zonder meerprijs leverbaar.
    </li>
    <li class="ftco-animate">
      Standaard voorzien van een mooi (vlak) profiel kozijn in wit of crème.
    </li>
    <li class="ftco-animate">
      Standaard voorzien van een dak op afschot voor betere afwatering.
    </li>
    <li class="ftco-animate">
      Standaard onverwoestbare aluminium vlakke daktrim boven boeideel.
    </li>
    <li class="ftco-animate">
      Afwatering met mooi weggewerkt (1 of 2) afvoerpijpje uit achterzijde
      boeideel.
    </li>
    <li class="ftco-animate">
      Andere kozijnen, kleuren en buitenmaterialen leverbaar tegen geringe
      meerprijzen.
    </li>
    <li class="ftco-animate">
      Rolluiken en screens weggewerkt in het boeideel, elektrisch met Somfy
      motoren.
    </li>
    <li class="ftco-animate">
      Casco oplevering die eenvoudig af te timmeren is door het gebruik van glad
      isolatiemateriaal.
    </li>
  </ul>
  <img src="{% static 'images/kenmerken/Capture.PNG' %}" />

  <p class="text-justify">
    De Runner dakkapel is een technisch geperfectioneerde dakkapel door onze
    jarenlange ervaring en specialisatie. Tal van kleine technische details die
    in de loop der jaren verder ontwikkelt zijn maken dat deze dakkapel u vele
    jaren ongestoord plezier geeft zonder dat u zich zorgen hoeft te maken over
    de kwaliteit op de lange termijn.
  </p>
</div>
{% endblock %}
