{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1>Kosten dakkapel</h1>
  <p class="text-justify ftco-animate">
    Over dakkapel kosten kunnen we heel veel zeggen. Vanaf € 3.000,= staat er
    een dakkapel op uw huis. Of voor € 7.500,=, of voor € 15.700,=! Een dakkapel
    kan minder dan € 1.000,= per meter kosten of wel meer dan € 2.000,= per
    meter! Veel mensen die zich voor het eerst oriënteren op een dakkapel zijn
    vooral geïnteresseerd in de dakkapel kosten of de prijs van een dakkapel.
    Dat is dus heel menselijk omdat bijna iedereen zo denkt.
  </p>

  <p
    class="py-2 px-3"
    style="
      border: 1px solid rgb(172, 172, 172);
      background: rgb(233, 233, 233);
      font-size: 12px;
    "
  >
    De echte kosten van een dakkapel
  </p>

  <h4 class="ftco-animate">Verborgen kosten</h4>
  <p class="text-justify ftco-animate">
    Maar hebt u zich wel eens gerealiseerd dat er ook veel verborgen kosten
    kunnen zijn als u de verkeerde keuze maakt? Veel consumenten gingen u al
    voor en als u hen na hun ervaringen met een dakkapel zou vragen of de prijs
    inderdaad zo belangrijk geweest is zullen de meeste zeggen dat dit misschien
    wel het minst belangrijke onderdeel was.
  </p>
  <p class="text-justify ftco-animate">
    Dat geldt overigens voor heel veel producten uit de bouw omdat u
    uiteindelijk geen dakkapel wilt maar het extra leef comfort ervan, de extra
    ruimte en licht en de waardevermeerdering van uw huis.
  </p>
  <p class="text-justify ftco-animate">
    Dakkapel kosten: minder dan € 1000 per meter is mogelijk! Deze dakkapel kost
    minimaal € 8.970,=.
  </p>

  <img src="{% static 'images/kosten/Page-1-Image-1.png' %}" />

  <p class="text-justify ftco-animate">
    Dakkapel kosten: meer dan € 1000 per meter is waarschijnlijker! Deze
    dakkapel kost minimaal € 3.670,=
  </p>

  <img src="{% static 'images/kosten/Page-2-Image-2.png' %}" />
  <h4 class="ftco-animate">Dakkapel kosten of dakkapel prijs?</h4>

  <p class="text-justify ftco-animate">
    Een recent geplaatste dakkapel zal er ongetwijfeld goed uitzien en dat geldt
    ook voor alle dakkapellen in een showroom. Wie kinderen heeft of al wat
    ouder is weet hoe snel 15-20 jaar voorbij lijken te vliegen. Ook na zo’n
    periode moet een dakkapel nog net zo goed zijn als een nieuwe! Het enige
    onderhoud dat je moet doen aan een goede kunststof dakkapel is het jaarlijks
    smeren van het beslag en de rubbers en het schoonmaken (of laten doen door
    een glazenwasser) van de wangen en het boeideel eens in de 5 jaar. Toch zien
    redelijk veel dakkapellen er na 15-20 jaar uit alsof ze aan totale
    vervanging toe zijn.
  </p>

  <h5>Problemen bij matige constructies</h5>
  <p class="text-justify ftco-animate">
    Mogelijke problemen bij een matige (doch deels onzichtbare) constructie
    zijn:
  </p>
  <ul>
    <li>
      Lekkage door condensatievocht wat rot en gele vlekken op termijn
      veroorzaakt. Dit speelt vooral bij de montage van een zogenaamd ‘koud’
      dak.
    </li>
    <li>
      Lekkage door lekkend dak (door slijtage van bitumen of naden in de
      constructie).
    </li>
    <li>
      Doorzakken van het dakvlak door het ontbreken van een goede bovenslagen
      (aangepaste draagconstructie).
    </li>
    <li>
      Klemmende ramen door gebrek aan stijfheid en matige kwaliteit van het
      beslag of het ontbreken van staal in het profiel.
    </li>
    <li>
      Uitgedroogde rubbers door of gebrek aan onderhoud of slechte kwaliteit.
    </li>
    <li>
      Loszittende buitenbeplating door schroefwerk en vervuiling door overmatige
      algengroei door een slechte toplaag.
    </li>
    <li>
      Veel zaken die voor jou als leek op dit gebied onzichtbaar blijven in het
      aanschafproces en waar je waarschijnlijk nog nooit echt bij hebt stil
      gestaan.
    </li>
  </ul>

  <h4 class="ftco-animate">Bezuinig niet op de verkeerde dingen</h4>
  <p class="text-justify ftco-animate">
    De prijs van een dakkapel komt zo opeens in een heel ander licht te staan,
    vindt u niet? Net doen alsof dit toch wel niet zal gebeuren lost het
    probleem ook niet op. Bovenstaande problemen zijn wel op te lossen door de
    vakkundige bouw en montage van de dakkapel en door het gebruik van de juiste
    materialen.
  </p>
  <p class="text-justify ftco-animate">
    Denk daarom aan deze zaken als u een dakkapel aanschaft en bezuinig niet op
    de verkeerde dingen. Zoek een betrouwbaar bedrijf zodat u ook over 20 jaar
    nog dik tevreden bent!
  </p>
  <img src="{% static 'images/kosten/Page-3-Image-3.png' %}" />

  <h4 class="ftco-animate">
    De prijs van een dakkapel is eenmalig, de kosten niet!
  </h4>
  <p class="text-justify ftco-animate">
    De concurrentie in de bouw is enorm, niet voor niets zijn er juist daarom
    zoveel faillissementen in deze sector. Als u dus meent een bedrijf gevonden
    te hebben dat een beduidend lagere prijs vraagt dan andere goede bedrijven
    dan kunt u eigenlijk wel bedenken dat er iets aan de hand is. Hoge kortingen
    zijn meestal een voorbode dat er iets niet goed gaat in een bedrijf. Ieder
    serieus bedrijf heeft nu eenmaal een bepaalde marge nodig om kwaliteit,
    service en garantie te kunnen bieden zodat u ook op lange termijn tevreden
    blijft.
  </p>
  <h4 class="ftco-animate">De prijs is niet heilig</h4>

  <p class="text-justify ftco-animate">
    U kent ze wel: de slachtoffers die hun verhaal doen bij bv. Radar
    (aanbetaling kwijt, bedrijf komt bij problemen niet opdagen enz.). Heel vaak
    zijn dit ook de mensen die heel veel van bovenstaande tips genegeerd hebben
    en vooral gingen voor de lage prijs. Een goed product levert uiteindelijk
    veel meer plezier en comfort op en bespaart u veel ergernissen en
    frustraties!
  </p>
  <p class="text-justify ftco-animate">
    Uiteindelijk wil iedereen het beste product voor de laagst mogelijke prijs.
    Goede kwaliteit hoeft niet per se duur te zijn maar goede spullen voor
    dumpprijzen bestaan gewoon niet.
  </p>
  <ul>
    <li>‘Betaalt u liever € 500 teveel of € 500 te weinig?’</li>
    <li>‘De prijs is eenmalig – de kosten blijven je achtervolgen.</li>
    <li>
      ‘Goede dingen zijn niet goedkoop en goedkope dingen zijn niet goed’.
    </li>
    <li>
      ‘Als u denkt dat het duur is om een specialist in te schakelen wacht dan
      even totdat u een amateur hebt ingeschakeld’.
    </li>
  </ul>

  <img src="{% static 'images/kosten/Page-5-Image-4.png' %}" />

  <p class="text-justify ftco-animate">
    Zonder u hier dus een uitgebreide prijslijst te geven vragen wij u
    vriendelijk even het offerte-aanvraagformulier in te vullen voor een
    preciezer beeld van alle prijzen en mogelijkheden.
  </p>

  <h4 class="ftco-animate">Extra waarde voor uw woning</h4>
  <p class="text-justify ftco-animate">
    De kosten van onderstaande Benelux dakkapellen zijn erg laag! De
    aanschafprijs zijn wat hoger dan een volledig standaard dakkapel maar
    uiteindelijk zijn de totale kosten veel lager dan u wellicht denkt. Vergeet
    niet dat bij verkoop van uw woning het zeer belangrijk is in welke staat uw
    dakkapellen zijn en hoe ze er ook van buitenaf uitzien.
  </p>
  <p class="text-justify ftco-animate">
    Deze dakkapellen voegen echt waarde toe aan uw woning!
  </p>
  <img src="{% static 'images/kosten/Page-6-Image-5.png' %}" />
  <p class="text-justify ftco-animate">
    Benelux dakkapellen is er absoluut van overtuigd dat wij u de beste
    prijskwaliteit verhouding bieden en we tonen dat graag aan. De ‘goedkoopste’
    zijn wij bewust niet maar we vragen geen cent te veel voor wat we leveren.
  </p>
  <p class="text-justify ftco-animate">
    Op deze manier houden wij de kosten van uw dakkapel zo laag mogelijk en
    heeft u vele jaren lang ongestoord plezier en comfort van uw nieuwe
    dakkapel! Daag ons uit en kom langs bij ons of vraag een offerte bij ons
    aan, we zijn u graag van dienst!
  </p>
</div>
{% endblock %}
