{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="row mt-5 dientsten_top">
  <div class="col-md-6 p-5text-center">
    <div class="ftco-animate">
      <img
        src="{% static 'images/dakkapel1.jpg' %}"
        class="d-block mx-auto img-fluid"
      />
    </div>
  </div>
  <div class="col-md-6 p-5" style="background-color: #2c2c2c">
    <div class="ftco-animate">
      <h1 class="dient_h1">Over ons</h1>
    </div>
    <div>
      <div style="font-size: 14px" class="mt-4 ftco-animate">
        <p class="text-justify">
          Benelux Dakkapellen is een dynamisch bedrijf en al jaren actief op het
          gebied van advies en begeleiding van het hellend dak. Benelux
          dakkapellen heeft zich gespecialiseerd in het vervaardigen en plaatsen
          van kunststof en houten dakkapellen. Wij durven ons HET adres te
          noemen voor iedere gewenste dakkapel en stellen opdrachtgevers niet
          teleur.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="ftco-animate container-fluid p-5">
  <div class="row">
    <div class="col-sm-8">
      <h2>Een heldere offerte zorgt voor duidelijkheid</h2>
      <br />
      <h4>
        Voor elke dakconstructie heeft Benelux Dakkapellen een oplossing op maat die allemaal één belangrijk doel gemeen hebben: ze maken uw zolder lichter en ruimer. In de showroom krijgt u een advies op maat. Gratis en geheel vrijblijvend! Wij kijken samen met u naar de gewenste 
        indeling van de zolder, de dakconstructie, de bouwstijl van de woning en het eventuele vergunningstraject.
      </h4>
      <br />
      <p></p>
      <br />
    </div>
    <div class="col-sm-4 text-center">
      <div class="icon"><span class="over_blogo flaticon-hammer"></span></div>
    </div>
  </div>
</div>

<div class="container-fluid ftco-animate over_graybg p-5 bg-grey">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="icon"><span class="over_blogo flaticon-hammer"></span></div>
    </div>
    <div class="col-sm-8">
      <h2>U heeft volledig inzicht in onze manier van werken</h2>
      <br />
      <h4>
        Hoe weet u zeker of u de juiste keuze maakt? Er zijn zoveel zaken om rekening mee te houden bij een verbouwing. 
        Bij Ruiter Dakkapellen hoeft u zich daar geen zorgen over te maken. Wij ondersteunen u in het gehele proces.
      </h4>
      <br />
      <p></p>
    </div>
  </div>
</div>
<div id="about" class="container-fluid ftco-animate p-5">
  <div class="row">
    <div class="col-sm-8">
      <h2>U bent nauw betrokken bij de keuze van materialen</h2>
      <br />
      <h4>
        Wanneer u een keuze heeft gemaakt uit het grote aanbod van dakkapellen en dakopbouwen, zetten we de puntjes op de ’i’. Onze adviseur komt bij u thuis. Hij meet uw zolder in en neemt de laatste details door. Zo weet u zeker dat de dakkapel of dakopbouw exact aansluit bij uw wensen. Met recht een advies op maat!
         Tevens wordt de dag van de plaatsing afgestemd, zodat u direct weet wanneer u de nieuwe ruimte in gebruik kunt nemen.
      </h4>
      <br />
      <p></p>
      <br />
    </div>
    <div class="col-sm-4 text-center">
      <div class="icon"><span class="over_blogo flaticon-hammer"></span></div>
    </div>
  </div>
</div>

<div class="container-fluid ftco-animate over_graybg p-5">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="icon"><span class="over_blogo flaticon-hammer"></span></div>
    </div>
    <div class="col-sm-8">
      <h2>Wij kunnen luisteren als geen ander waardoor uw droom werkelijkheid
        wordt</h2>
      <br />
      <h4>
        Als dakkapellen specialist leveren wij maatwerk, uw dakkapel wordt geheel naar uw wens op maat geproduceerd in onze eigen fabriek. De levering en plaatsing zijn in handen van onze vakspecialisten. Heeft u bijzondere wensen voor uw dakkapel? Onze adviseurs informeren u graag over de uitvoeringsmogelijkheden en extra accessoires. Aan de hand van de showroom modellen wordt inzicht gegeven in de mogelijkheden die voor u relevant zijn. 
        Vergeet voor een optimaal advies niet foto’s en tekeningen mee te nemen naar de showroom.
      </h4>
      <br />
      <p>
        
      </p>
    </div>
  </div>
</div>
<div id="about" class="container-fluid ftco-animate p-5">
  <div class="row">
    <div class="col-sm-8">
      <h2>Wij zijn er voor u</h2>
      <br />
      <h4>
        Benelux dakkapellen werkt met gekwalificeerde vakmensen welke garant
        staan voor kwalitatief hoogwaardig vakwerk aangestuurd door Murat
        Bayrak. Voor LICHT en RUIMTE moet u bij Benelux Dakkapellen zijn.
      </h4>
      <br />
      <p>
     
      </p>
      <br />
    </div>
    <div class="col-sm-4">
      <div class="icon"><span class="over_blogo flaticon-hammer"></span></div>
    </div>
  </div>
</div>
{% endblock %}
