{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1>Over ons</h1>
  <p></p>
  <p>
    Benelux Dakkapellen is een dynamisch bedrijf en al jaren actief op het
    gebied van advies en begeleiding van het hellend dak. Benelux dakkapellen
    heeft zich gespecialiseerd in het vervaardigen en plaatsen van kunststof en
    houten dakkapellen. Wij durven ons HET adres te noemen voor iedere gewenste
    dakkapel en stellen opdrachtgevers niet teleur.
  </p>
  <ul class="list-group">
    <li class="list-group-item ftco-animate">
      Een heldere offerte zorgt voor duidelijkheid
    </li>
    <li class="list-group-item ftco-animate">
      U heeft volledig inzicht in onze manier van werken
    </li>
    <li class="list-group-item ftco-animate">
      U bent nauw betrokken bij de keuze van materialen
    </li>
    <li class="list-group-item ftco-animate">
      Wij kunnen luisteren als geen ander waardoor uw droom werkelijkheid wordt
    </li>
    <li class="list-group-item ftco-animate">
      Benelux dakkapellen werkt met gekwalificeerde vakmensen welke garant staan
      voor kwalitatief hoogwaardig vakwerk aangestuurd door Murat Bayrak. Voor
      LICHT en RUIMTE moet u bij Benelux Dakkapellen zijn.
    </li>
  </ul>
</div>
{% endblock %}
