{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5">
  <h1>Prefab dakkapel</h1>
  <p class="text-justify">
    Wat is een prefab dakkapel? Voor een prefab dakkapel worden alle onderdelen
    vooraf in een fabriek of werkplaats van de dakkapellen– specialist gemaakt.
  </p>
  <p class="text-justify">
    Denk daarbij aan onderdelen zoals de wangen (zijkanten), het kozijn en het
    dak. Deze onderdelen worden ook al geassembleerd in de fabriek. Het dak en
    de wangen worden dan direct geïsoleerd en waterdicht gemaakt. De dakkapellen
    kunnen van zowel kunststof als hout gemaakt. U kunt daarbij kiezen voor:
  </p>

  <ul>
    <li>
      Een combinatie van houten frame met een kunststof afwerking of combinatie
      van houten frame met een polyester afwerking.
    </li>
    <li>
      Dakkapellen die geheel van kunststof zijn, zowel in de kern als buiten
      bestaan niet. Er is altijd een houten of stalen constructie nodig voor de
      benodigde stijfheid en sterkte.
    </li>
    <img src="{% static 'images/prefab/Page-1-Image-1.png' %}" />

    <h4 class="mt-4">Diverse soorten dakkapellen</h4>

    <p class="text-justify">
      Een Benelux prefab dakkapel kan traditioneel gemaakt worden zoals dat ook
      op dak gebeurt, maar dan op een werkvloer met houten stijl- en regelwerk,
      of met sandwich platen. Het nadeel van traditioneel bouwen is dat voor het
      isoleren van de wangen er een enorme hoeveelheid ruimte verloren gaat.
      Door de toepassing van de duurdere sandwichpanelen bespaart u kostbare
      ruimte en is de isolatie waarde gegarandeerd.
    </p>
    <p class="text-justify">
      Tot een jaar of 15 geleden werden alle dakkapellen op dak gebouwd. Dit is
      arbeidsintensief, gevaarlijk en ook onhandig werken waardoor de Arbo
      steeds strengere eisen ging stellen aan het werken op daken. Daardoor is
      er langzaamaan een kentering gekomen van de bouw ter plekke op dak naar de
      bouw in een overdekte ruimte.
    </p>
    <img src="{% static 'images/prefab/Page-2-Image-2.png' %}" />
  </ul>
  <h4 class="mt-4">Voordelen Benelux prefab dakkapel:</h4>
  <ul>
    <li>
      Door het produceren van de Benelux dakkapel in de werkplaats zijn we veel
      minder afhankelijk van de weersomstandigheden. U als klant zit daardoor
      geen dagen in de rommel. Want die tijd heb je nodig om een dakkapel echt
      kwalitatief goed te maken. Kortom een win-win situatie voor beide
      partijen.
    </li>
    <li>
      Er toezicht is vanuit de organisatie op de productie en betere interne
      kwaliteitscontrole op het geleverde product. Het management kan tenslotte
      niet voortdurend naast haar personeel op dak gaan staan. En in een hal is
      de controle erg eenvoudig. Iedere dakkapel die de hal verlaat wordt
      gecontroleerd op alle belangrijke onderdelen en afwerking. Zo is de
      kwaliteit veel constanter en beter te controleren.
    </li>
    <li>
      Het weer heeft ook geen negatieve invloed op de prestatie van onze
      werknemers. Tenslotte staan ze bij ons in een lekker verwarmde hal fijn te
      werken en raffelen ze dingen niet af omdat het slecht weer is.
    </li>
    <li>
      Minder ziekteverzuim door betere werkomstandigheden voor het personeel.
    </li>
  </ul>
  <p class="text-justify">
    Wij hebben uiteraard ook ervaring met de bouw ter plaatse maar als we reëel
    zijn is het product vele malen beter wanneer we produceren in een hal onder
    ideale condities.
  </p>
  <img src="{% static 'images/prefab/Page-3-Image-3.png' %}" />
  <h4 class="mt-4">Op een rijtje:</h4>
  <p class="text-justify">
    Resumerend het voordeel van Benelux prefab dakkapellen:
  </p>
  <ul>
    <li>Snellere plaatsing</li>
    <li>Minder overlast</li>
    <li>Betere controle</li>
    <li>Hogere kwaliteit</li>
    <li>Beter voor het personeel</li>
  </ul>
</div>
{% endblock %}
