{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5">
  <h1>Prijslijst vergunning</h1>

  <p>
    Hieronder leest u wat er nodig is om een omgevingsvergunning te regelen en
    wat het kost. Er zijn buiten deze prijslijst nog andere opties en prijzen
    mogelijk zoals bijvoorbeeld het regelen van vergunningen buiten de standaard
    omgevingsvergunning om, neem daarvoor contact met ons op s.v.p.
  </p>
  <h4 class="mt-4">Omgevingsvergunning regelen</h4>

  <p>
    Het volgende hebben wij nodig om voor u uw omgevingsvergunning te regelen:
  </p>
  <p>
    A. Tekeningen op schaal met maatvoeringen die uw gemeente u kan geven uit
    het archief:
  </p>

  <ul>
    <li>Voor- en achteraanzicht woning.</li>
    <li>Doorsnede woning.</li>
    <li>Plattegronden van alle verdiepingen.</li>
    <li>Situatieschets ligging woning indien dit voorhanden is.</li>
  </ul>

  <p>
    B. Uw BSN nummer (fiscaal nummer) met bijbehorende correcte in initialen
  </p>
  <img src="{% static 'images/prijs/Capture.PNG' %}" />

  <p>
    Voor een spoedige behandeling van uw aanvraag verzoeken wij u vriendelijk
    het onder A en B genoemde compleet op te sturen of te mailen (scans of goede
    foto’s zijn ook prima):
  </p>

  <h4 class="mt-4">Vervolgtraject:</h4>

  <ul>
    <li>
      De inmeter geeft alles door aan de tekenaar en controleert de tekeningen.
    </li>
    <li>
      De tekenaar vult het aanvraagformulier in – u hoeft dat dus niet zelf te
      doen.
    </li>
    <li>
      De tekeningen gaan naar de gemeente (kan 1-8 weken duren, verschilt per
      gemeente).
    </li>
    <li>
      Uw vergunning wordt verleend en u krijgt een datum plaatsing van ons.
    </li>
    <li>De gemeente eist wijzigingen: er wo</li>
    <li>
      Vergunning wordt afgewezen: bezwaarschrift mogelijk, we overleggen met u.
    </li>
  </ul>

  <h4 class="mt-4">Prijslijst vergunning</h4>
  <p>Altijd ex. legeskosten van uw gemeente, incl. BTW:</p>

  <ul>
    <li>Verzorging 1 vergunning € 350,-.</li>
    <li>Verzorging 2 vergunningen € 500,-.</li>
    <li>
      Eenvoudige wijziging (breedte, raamindeling enz.) tekening zonder
      meerprijs.
    </li>
    <li>
      Verzorging standaard kraanvergunning van € 60-250. Rest op aanvraag (bv.
      wegafzetting).
    </li>
    <li>
      Maken constructieberekening vanaf € 250 (heel soms aanvullende eis
      gemeente).
    </li>
    <li>
      Aanvullende eisen van gemeente (bv. hogere Rc waarden): op aanvraag.
    </li>
    <li>Weigering vergunning en indienen nieuwe aanvraag € 100,-.</li>
    <li>
      Inmeten woning (als bouwtekeningen er niet zijn) € 250,- (ex. 30 cent per
      km)
    </li>
    <li>Andere werkzaamheden tegen uurtarief van € 45,-.</li>
  </ul>

  <p>Graag tot ziens bij Benelux dakkapellen!</p>
</div>
{% endblock %}
