{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}
<div class="container p-5 mt-3">
    <h1 class="text-center font-weight-bold">Prijscalculator</h1>
<form class="mt-3">
 <div class="row">
     <div class="col-md-6">
        <label for="exampleInputPassword1" id="img_label">Type A: Enkel kozijn, enkel draairaam</label><br>
        <img id="img" src="/static/images/1.gif">
     </div>
 </div>
 <div class="row mt-3">
   <div class="col-md-6">
    <div class="form-group">
        <label for="exampleInputPassword1">Richtprijs type <span id="label">A </span></label>
        <input type="text" class="form-control" value="€2.790,-" id="calculation" readonly>
        <small id="emailHelp" class="form-text text-muted">Inclusief BTW en plaatsing</small>
      </div>
   </div>
 </div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Kies uw type dakkapel</label>
        <select class="form-control" id="exampleFormControlSelect1" onchange="change_elem(this)">
          <option value="A">Type A</option>
          <option value="B">Type B</option>
          <option value="C">Type C</option>
          <option value="D">Type D</option>
          <option value="E">Type E</option>
        </select>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label for="exampleFormControlSelect1">Breedte dakkapel</label>
          <select class="form-control"  id="sel2" onchange="add_sell(this)">
            <option value="1.00-1.20">1.00 - 1.20m</option>
          </select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <label for="exampleFormControlSelect1">Uitvoering buitenkant</label>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="Radio" id="Kunststof" value="0" checked>
            <label class="form-check-label" for="Kunststof">Kunststof</label>
          </div><div class="form-check">
            <input class="form-check-input position-static" type="radio" name="Radio" id="Houtlook" value="100" >
            <label class="form-check-label" for="Houtlook">Houtlook</label>
          </div><div class="form-check">
            <input class="form-check-input position-static" type="radio" name="Radio" id="Hout" value="200" >
            <label class="form-check-label" for="Hout">Hout</label>
          </div>
          <small id="emailHelp" class="form-text text-muted">Kunststof dakkapellen van Trespa | Houten dakkapellen van Meranti, multiplex, rabat of keralit</small>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
        <label for="exampleFormControlSelect1">Uitvoering raamkozijnen</label>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="Radio1" id="radio4" value="0" checked>
            <label class="form-check-label" for="radio4">Kunststof</label>
          </div><div class="form-check">
            <input class="form-check-input position-static" type="radio" name="Radio1" id="radio5" value="100" >
            <label class="form-check-label" for="radio5">Houtlook</label>
          </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="form-group">
          <label for="exampleFormControlSelect1">Locatie dakkapel</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="Achtergevel">Achtergevel</option>
            <option value="Voorgevel">Voorgevel</option>
            <option value="Zijgevel">Zijgevel</option>
          </select>
        </div>
    </div>
  </div>
<div class="row">
   <div class="col-md-6">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Dakhelling in graden</label>
        <select class="form-control" id="standard" onchange="add_standard(this)">
          <option value="0">40-45 (standaard)</option>
          <option value="10">39</option>
          <option value="20">38</option>
          <option value="30">37</option>
          <option value="40">36</option>
          <option value="50">35</option>
          <option value="60">34</option>
          <option value="70">33</option>
          <option value="80">32</option>
          <option value="90">31</option>
          <option value="100">30</option>
        </select>
      </div>
   </div>
</div>
<div class="row">
    <div class="col-md-6">
     <div class="form-group">
         <label for="exampleFormControlSelect1">Ventilatieroosters</label>
         <select class="form-control" id="roosters" onchange="add_roosters(this)">
           <option value="0">0</option>
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
         </select>
       </div>
    </div>
 </div>
 <div class="row">
     <div class="col-md-6">
        <label for="exampleFormControlSelect1">Opties toevoegen</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="100" id="check1">
            <label class="form-check-label" for="check1">
                Pannendak i.p.v. plat dak
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="200" id="check2">
            <label class="form-check-label" for="check2">
                Bouwafval afvoeren
            </label>
          </div>
     </div>
 </div>
 <div class="row mt-3">
    <div class="col-md-6">
     <div class="form-group">
         <label for="exampleFormControlSelect1">Gewenste periode van plaatsing</label>
         <select class="form-control" id="exampleFormControlSelect1">
           <option value="Geen voorkeur">Geen voorkeur</option>
           <option value="Januari">Januari</option>
           <option value="Februari">Februari</option>
           <option value="Maart">Maart</option>
           <option value="April">April</option>
           <option value="Mei">Mei</option>
           <option value="Juni">Juni</option>
           <option value="Juli">Juli</option>
           <option value="September">September</option>
           <option value="Oktober">Oktober</option>
           <option value="November">November</option>
           <option value="December">December</option>
         </select>
       </div>
    </div>
 </div>
</form>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
          var cal_val="€2.750,-";
          var num;
          cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        console.log(num)
    function change_elem(elem){
        document.getElementById("label").innerText = elem.value;
        var label = document.getElementById("img_label")
        var image = document.getElementById("img")
        $("#sel2").html(``)
       if(elem.value == "A"){
           cal_val = "€2.790,-"
           document.getElementById("Kunststof").checked = true;
           document.getElementById("radio4").checked = true;
           document.getElementById("calculation").value = cal_val;
           cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
           label.innerText = "Type A: Enkel kozijn, enkel draairaam"
        image.src = '/static/images/1.gif'
        $("#sel2").append(`<option value="0">1.00 - 1.20m</option>`)
       }
       else if(elem.value == "B"){
           cal_val = "€3.290,-"
           document.getElementById("Kunststof").checked = true;
           document.getElementById("radio4").checked = true;
           document.getElementById("calculation").value = cal_val;
           cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
           label.innerText = "Type B: Enkel kozijn, enkel draairaam"
         image.src = '/static/images/2.gif'
         $("#sel2").append(`<option value="0">1.50 - 1.60m</option>`)
         $("#sel2").append(`<option value="1">1.60 - 1.90m</option>`)
         $("#sel2").append(`<option value="2">1.90-2.10m</option>`)
         $("#sel2").append(`<option value="3">2.10-2.40m</option>`)
       }
       else if(elem.value == "C"){
           cal_val = "€3.730,-"
           document.getElementById("Kunststof").checked = true;
           document.getElementById("radio4").checked = true;
           document.getElementById("calculation").value = cal_val;
           cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
           label.innerText = "Type C: Enkel kozijn, dubbel draairaam"
         image.src = '/static/images/3.gif'
         $("#sel2").append(`<option value="0">2.50-2.60m</option>`)
         $("#sel2").append(`<option value="4">2.60-2.90m</option>`)
         $("#sel2").append(`<option value="5">2.90-3.10m</option>`)
         $("#sel2").append(`<option value="6">3.10-3.40m</option>`)
       }
       else if(elem.value == "D"){
           cal_val = "€5.170,-"
           document.getElementById("Kunststof").checked = true;
           document.getElementById("radio4").checked = true;
           document.getElementById("calculation").value = cal_val;
           cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
           label.innerText="Type D: Dubbel kozijn, dubbel draairaam"
         image.src = '/static/images/4.gif'
         $("#sel2").append(`<option value="0">3.50-3.60m</option>`)
         $("#sel2").append(`<option value="7">3.60-3.90m</option>`)
         $("#sel2").append(`<option value="8">4.10-4.40m</option>`)
         $("#sel2").append(`<option value="9">4.40-4.60m</option>`)
         $("#sel2").append(`<option value="10">4.60-4.90m</option>`)
         $("#sel2").append(`<option value="11">4.90-5.10m</option>`)
         $("#sel2").append(`<option value="12">5.10-5.40m</option>`)
       }
       else{
           cal_val = "€4.990,-"
           document.getElementById("Kunststof").checked = true;
           document.getElementById("radio4").checked = true;
           document.getElementById("calculation").value = cal_val;
           cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
           label.innerText = 'Type E: Dubbel kozijn, 3x draairaam'
           image.src = '/static/images/5.gif'
           $("#sel2").append(`<option value="0">4.00-4.10m</option>`)
         $("#sel2").append(`<option value="13">4.10-4.40m</option>`)
         $("#sel2").append(`<option value="14">4.40-4.60m</option>`)
         $("#sel2").append(`<option value="15">4.60-4.90m</option>`)
         $("#sel2").append(`<option value="16">4.90-5.10m</option>`)
         $("#sel2").append(`<option value="17">5.10-5.40m</option>`)
         $("#sel2").append(`<option value="18">5.40-5.60m</option>`)
         $("#sel2").append(`<option value="19">5.60-5.90m</option>`)
       }
    }
    
    
var previous_sell = 0;
var previous_roost = 0;
var previous_stand = 0;
var previous_radio1 =0;
var previous_radio2 =0;
function add_sell(elem){

    cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(elem.value) - previous_sell;
        previous_sell = parseInt(elem.value);
          var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
      
}
function add_roosters(elem){
    cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(elem.value) - previous_roost;
        previous_roost = parseInt(elem.value);        
          var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
}
function add_standard(elem){
    cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(elem.value) - previous_stand;
        previous_stand = parseInt(elem.value);         
         var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
}

$('input[type=radio][name=Radio]').change(function() {
  var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) - previous_radio1;
        previous_radio1 = parseInt(item);         
         var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
})

$('input[type=radio][name=Radio1]').change(function() {
  var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) - previous_radio2;
        previous_radio2 = parseInt(item);         
         var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
})
$('#check1').click(function(){
    if($(this).is(':checked')){
      var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) ;
         var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 

    } else {
            var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) ;
         var temp = Math.floor((num-add) / 1000).toString()
          var temp1= ((num-add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
    }
});

$('#check2').click(function(){
    if($(this).is(':checked')){
      var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) ;
         var temp = Math.floor((num+add) / 1000).toString()
          var temp1= ((num+add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 

    } else {
            var item = $(this).val();
  cal_val = document.getElementById("calculation").value;
  cal_val= cal_val.split("€")[1]
         cal_val= cal_val.split(",")[0];
         cal_val=cal_val.split(".")
        num = parseInt(cal_val[0] + cal_val[1]);
        var add = parseInt(item) ;
         var temp = Math.floor((num-add) / 1000).toString()
          var temp1= ((num-add) %1000).toString()
           if(temp1.length ==1){
             temp1 = "00"+temp1
           }
          else if(temp1.length ==2){
             temp1 = "0"+temp1
           }
           document.getElementById("calculation").value = "€"+temp+"."+temp1+",-"
 
    }
});
</script>


{% endblock %}