{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}
<div class="container p-5 mt-3 ftco-animate">
    <h1 class="text-center font-weight-bold">Prijscalculator</h1>
    <div class="row">
      <div class="col-12">
        <div class="price_calc p-3">  
          <h1 class="font-weight-bold">Dakkapel kosten berekenen</h1>
          <h4 class="font-weight-bold">Je krijgt meteen een prijsindicatie te zien</h4>
          <h2 class="font-weight-bold">Kies een type dakkapel</h2>

          <div class="mt-5 input_item_wraps">
            <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Type dakkapel</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area custom_select">
                      <select id="demo-htmlselect">
                        <option value="75" data-imagesrc="{% static '/images/dakarchitect.jpg' %}" selected="selected"
                            data-description="Kies hier uw soort dakkapel">Selecteer hier</option>
                            
                        <option value="100" data-imagesrc="{% static '/images/prize/Dakkapel-A.jpg' %}" selected="selected"
                            data-description="Dakkapel één draaikiepraam. Min 1,00 m - max 1,50 m">Type A</option>
                        <option value="150" data-imagesrc="{% static '/images/prize/Dakkapel-B.jpg' %}"
                            data-description="Dakkapel één draaikiepraam. Min 1,50 m - max 3,00 m">Type B</option>
                        <option value="500" data-imagesrc="{% static '/images/prize/Dakkapel-C.jpg' %}"
                            data-description="Dakkapel twee draaikiepramen. Min 3,00 m - max 5,00 m">Type C - Meest gekozen</option>
                        <option value="550" data-imagesrc="{% static '/images/prize/Dakkapel-D.jpg' %}"
                            data-description="Dakkapel twee draaikiepramen. Min 3,50 m - max 5,50 m">Type D</option>
                        <option value="590" data-imagesrc="{% static '/images/prize/Dakkapel-E.jpg' %}"
                            data-description="Dakkapel twee draaikiepramen. Min 3,50 m - max 5,90 m">Type E</option>                        
                      </select>
                    </div>
                  </div>
                </div>                            
              </div>            
            
            
            
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Breedte van het dakkapel (Type C)</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <input class="cutom_range" min="300" max="600" value="300" id="cutom_range1" type="range" />       
                      <div id="selectorValue">300</div>
                      <span class="toggle_text">
                        Prijs per meter € 674,00 incl btw
                      </span>               
                    </div>
                  </div>
                </div>                            
              </div>
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Wil je elektrische rolluiken?</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check" value="235">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Prijs per strekkende meter € 235,- incl btw. Plus treffen voorbereidingen.
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Voorbereidingen treffen voor rolluiken.</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check2" >
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Prijs afhankelijk van type dakkapel. € 210,- / € 350,- incl. btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>

              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Hoeveel graden is de dakhelling?*</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area custom_select">
                      <select id="demo-htmlselect2" style="width: 100%;">                       
                        <option selected="selected" value="0" data-imagesrc="{% static '/images/prize/Kleiner-dan-40-graden.png' %}"
                        data-description="Vlakke dakhelling,kleiner dan 40 graden.">Kleiner dan 40°</option>
                        <option value="1" data-imagesrc="{% static '/images/prize/Dakhelling-tussen-40-en-45-graden.png' %}"
                            data-description="Standaard dakhelling, tussen 40 - 45 graden.">Tussen 40-45°</option>
                        <option value="1" data-imagesrc="{% static '/images/prize/Dakhelling-groter-dan-45-graden.png' %}"
                            data-description="Steile dakhelling, meer dan 45 graden.">Groter dan 45°</option>                        
                      </select>
                    </div>
                  </div>
                </div>                            
              </div>    
         
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Neem contact op voor dakkapellen van minder dan 36º.
                      Dicht paneel in kozijn (ivm scheiding ruimtes).</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check3">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Prijs per paneel € 146,42 incl btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>
               
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Materiaal keuze zijkanten dakkapel.</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area custom_select">
                      <select id="demo-htmlselect3">
                        
                        <option value="0" selected="selected"
                        data-description="Standaard volkern plaat in de kleur wit of grijs">Standard</option>
                        <option value="24821" 
                            data-description="Beide zijkanten van Kunststof Rabatdelen standaard kleuren. € 248,21 incl btw">Kunststof Rabatdelen</option>
                        <option value="65314"  
                            data-description="Beide zijkanten van houten Rabatdelen. € 653,14 incl btw">Hout Rabatdelen</option>                                           
                      </select>
                    </div>
                  </div>
                </div>                            
              </div>        
              
                 
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Voorzien van extra draaikiepraam
                    </label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <input class="cutom_range" id="cutom_range2" min="0" max="167.63" value="0" type="range" />
                      <div id="selectorValue2">0</div>
                    </div>
                  </div>
                </div>                            
              </div>
              
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Wil je een andere kleur dan wit?</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check4">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Meerprijs voor een andere kleur € 145.35 incl. btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>

              
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Upgrade RC waarde van 3.5 naar 6.0?</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check5">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Gemiddelde prijs upgrade € 657,71 incl. btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>
              
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Wil je ventilatieroosters?
                    </label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check6">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Afhankelijk van type: € 60,- tot € 100,- p/st. incl. btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Heb je een sporenkap?
                    </label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check7">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Meerprijs montage dakkapel op sporenkap € 355,17 incl btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>                      

              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Plaatsen incl levering op locatie.</label>
                  </div>
                  <div class="col-9">
                    <div class="input_area custom_select">
                      <select id="demo-htmlselect4">                        
                        <option value="1000" selected="selected" 
                        data-description="Dan bespaart u € 1000,-. U voert zelf uw bouwafval af..">Zonder plaatsen en levering</option>
                        <option value="1000" 
                            data-description="Plaatsen en leveren is € 1000,- voor uw dakkapel. Binnen één dag klaar.">Inclusief plaatsen en leveren</option>                        
                      </select>
                    </div>
                  </div>
                </div>                            
              </div>      
              
              <div class="input_item ftco-animate">
                <div class="row">
                  <div class="col-3">
                    <label>Wil je het bouwafval laten afvoeren?
                    </label>
                  </div>
                  <div class="col-9">
                    <div class="input_area">
                      <label class="switch">
                        <input type="checkbox" id="custom_check8">
                        <span class="slider round"></span>
                      </label>
                      <span class="toggle_text">
                        Prijs afvoeren bouwafval € 245,- incl btw
                      </span>
                    </div>
                  </div>
                </div>                            
              </div>

              <div class="result_box">
                <p>Bedankt voor het invullen. Is alles duidelijk? Stuur jouw berekening in en wij nemen binnen 24 uur contact met je op.</p>
                <div class="calc_result">
                  <p>
                    Totaal
                  </p>
                  <span style="font-size: 1.5rem;">€</span>
                  <div class="calc_result_number">0</div>
                </div>               
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

 <script src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>
<script type="text/javascript">

    const result = document.querySelector(".calc_result_number");
    const dakkapel_select = document.querySelector("#demo-htmlselect");       
    const dakkapel_select2 = document.querySelector("#demo-htmlselect2");       
    const dakkapel_select3 = document.querySelector("#demo-htmlselect3");       
    const dakkapel_select4 = document.querySelector("#demo-htmlselect4");           
    const cutom_range1 = document.getElementById("cutom_range1");
    const cutom_range2 = document.getElementById("cutom_range2");
    const selectorValue = document.getElementById("selectorValue");
    const selectorValue2 = document.getElementById("selectorValue2");
    
    $('#demo-htmlselect').ddslick({
      onSelected: function(selectedData){
        calculate_price(6000);
      }
    });
    $('#demo-htmlselect2').ddslick({
      onSelected: function(selectedData){
        calculate_price(0);
      }
    });
    $('#demo-htmlselect3').ddslick({
      onSelected: function(selectedData){
        calculate_price(0);
      }
    });
    $('#demo-htmlselect4').ddslick({
      onSelected: function(selectedData){
        calculate_price(0);
      }
    });


    $("#custom_check").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(235);
    }
    else {       
      calculate_price(-235);
    }
    });
    $("#custom_check2").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(210);
    }
    else {       
      calculate_price(-210);
    }
    });
    $("#custom_check3").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(1442);
    }
    else {       
      calculate_price(-1442);
    }
    });
    $("#custom_check4").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(145.35);
    }
    else {       
      calculate_price(-145.35);
    }
    });
    $("#custom_check5").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(6571);
    }
    else {       
      calculate_price(-6571);
    }
    });
    $("#custom_check6").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(60);
    }
    else {       
      calculate_price(-60);
    }
    });
    $("#custom_check7").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(3517);
    }
    else {       
      calculate_price(-3517);
    }
    });
    $("#custom_check8").on('change', function() {
    if ($(this).is(':checked')) {    
        calculate_price(245);
    }
    else {       
      calculate_price(-245);
    }
    });

    dakkapel_select.addEventListener("change", () => {
      const val = dakkapel_select.value;
      console.log(val);
      calculate_price(val);  
    });
 
    function calculate_price (price) {      
      let sum = 0;      
      if(price < 0){
        sum = Number(result.innerText) + Number(price);
        result.innerHTML= `${sum.toFixed(2)}`;
      }else{
      sum = Number(dakkapel_select.value) + Number(dakkapel_select2.value) + Number(dakkapel_select3.value) + Number(dakkapel_select4.value) + Number(price);
      result.innerHTML= `${sum.toFixed(2)}`;
      }                    
    }
 
    cutom_range1.addEventListener('change', () => {
      const val = cutom_range1.value;
      selectorValue.innerHTML = `${val}`;      
      calculate_price(val);
    })
    cutom_range2.addEventListener('change', () => {
      const val = cutom_range2.value;
      selectorValue2.innerHTML = `${val}`;  
      calculate_price(val);
    })
</script>

{% endblock %}