{% extends 'beneluxapp/base.html' %}
{% block content %}
{% load static %}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Benelux Dakkappelen</span>
				<h2 class="mb-4">Reeds gerealiseerde projecten</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak5.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak5.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span> Tilburg</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak5.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak5.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span>Breda</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak6.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak6.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span>Eindhoven</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak7.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak7.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span>Utrecht</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak8.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak8.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span>Oss</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project">
					<a href="{% static 'images/dak5.jpg' %}" class="img image-popup d-flex align-items-center"
						style="background-image: url(/static/images/dak5.jpg);">
						<div class="icon d-flex align-items-center justify-content-center mb-5"><span
								class="fa fa-plus"></span></div>
					</a>
					<div class="text">
						<span class="subheading">Dakkappel</span>
						<h3>Soort dakkappel</h3>
						<p><span class="fa fa-map-marker mr-1"></span>Roermond</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}