{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <h1>Rolluiken in het overstek</h1>
  <p class="text-justify">
    Rolluiken en screens worden in het overstek geplaatst en standaard voorzien
    van een elektrische bediening met schakelaar. Het overstek wordt in breedte
    aangepast aan de kast waarin het rolluik of screen gemonteerd zit. Bij
    rolluiken en screens is dit resp. (+/-) 10-22 cm aan de voorzijde.
    Aansluiting kan dan op een stopcontact aan de zijde van de motor. Rolluiken
    zijn altijd van een goede kwaliteit en komen van betrouwbare leveranciers
    waardoor garantie ook echte garantie is.
  </p>

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Elektrisch rolluik</h3>
    <p class="text-justify">
      Bij een elektrisch rolluik of screen zijn de volgende aspecten belangrijk:
    </p>
    <ul>
      <li>Waar en hoe wordt het rolluik / screen ingebouwd?</li>
      <li>Is het (eenvoudig) demontabel?</li>
      <li>
        Welke kwaliteit materialen (motor, pantser/doek geleiders, onderlat)
        wordt er gebruikt?
      </li>
    </ul>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Diverse mogelijkheden</h3>
    <p class="text-justify">
      Er valt door de verschillende mogelijkheden hierin nogal wat te besparen.
      Hollandia Dakkapellen heeft na jarenlange ervaring gekozen voor het
      volgende: Het rolluik of screens wordt in een overstek van 9-22 cm gelijk
      met de kozijnstijlen bevestigd. Dit houdt in dat u alleen de geleiders
      ziet en niet de rolluik/screenkast. De rolluik/screenkast, de geleiders en
      het geïsoleerde aluminium pantser zijn (bij screen kleur doek) in dezelfde
      kleur als de dakkapel en het kozijn (tal van andere kleuren mogelijk).
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Grotere overstek</h3>
    <p class="text-justify">
      Het grotere overstek geeft uw dakkapel ook een mooiere uitstraling. Andere
      kleuren zijn leverbaar zonder meerprijs. De kasten, geleiders en lamellen
      zijn gemoffeld met hoogkwalitatieve poeders en zijn afkomstig van een zeer
      groot Duits bedrijf (Heroal), een specialist in profielen en
      voorzetrolluiken. Screens worden geleverd met hoogkwalitatieve
      lichtdoorlatende doeken in vele kleuren leverbaar.
    </p>
  </div>

  <img
    src="{% static 'images/rollui/Page-2-Image-1.png' %}"
    class="mb-3 ftco-animate img-fluid"
  />
  <img
    src="{% static 'images/rollui/Page-2-Image-2.png' %}"
    class="mb-3 ftco-animate img-fluid"
  />
  <img
    src="{% static 'images/rollui/Page-3-Image-3.png' %}"
    class="mb-3 ftco-animate img-fluid"
  />
  <img
    src="{% static 'images/rollui/Page-3-Image-4.png' %}"
    class="mb-3 ftco-animate img-fluid"
  />
  <img
    src="{% static 'images/rollui/Page-4-Image-5.png' %}"
    class="mb-3 ftco-animate img-fluid"
  />

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Eenvoudige montage</h3>
    <p class="text-justify">
      Eveneens is het rolluik / screen eenvoudig te demonteren vanuit dit grote
      overstek. Vaak wordt het rolluik in het dak ingebouwd omdat dat minder
      werk en materiaal kost maar bij onderhoud of service moet het dak open
      gezaagd worden. Dat levert het probleem op dat uw dakbedekking niet meer
      naadloos is en er dus een zeer zwakke plek gecreëerd wordt in uw
      dakbedekking of dat de motor niet te vervangen is.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Duurzame en betrouwbare motor</h3>
    <p class="text-justify">
      De kast en de geleiders zijn van aluminium en het pantser van geïsoleerde
      aluminium profielen met een stormvaste onderlat en een aluminium profiel
      aan de onderzijde als afsteunpunt ( incl. 2 zg. eindstops). De geleiders
      worden middels een vernuftig systeem gefixeerd wat klapperen van de
      rolluiken voorkomt. Screens worden geleverd met het ‘Zyppex systeem dat
      ook klapperen tegengaat en zorgt voor volledige blokkade van het licht. De
      schakelaar (met een op- en neerstand) of afstandsbediening is een opbouw
      schakelaar, op elk gewenste plaats te monteren. Uit de verschillende
      motoren hebben we gekozen voor een Somfy motor (type Ilmo o.g.). In het
      verleden zijn er regelmatig problemen geweest met de duurzaamheid en
      betrouwbaarheid van de werking van diverse merken elektrische motoren,
      daarom onze keuze voor dit zeer betrouwbare product. Somfy is een zeer
      gerenommeerde fabrikant van rolluiken en op die manier maken wij gebruik
      van hun jarenlange expertise en goede servicenetwerk.
    </p>
  </div>

  <div class="mt-3 mb-3 ftco-animate">
    <h3>Optimale afstelling</h3>
    <p class="text-justify">
      De rolluiken/screens regelen zichzelf in, dus u bent altijd verzekerd van
      een optimale afstelling. Tevens heeft de motor een vorst- en
      doorbrandbeveiliging en een obstakel detectie: de motor loopt automatisch
      terug indien dit noodzakelijk is. De elektrische rolluiken/screens worden
      altijd geleverd met een losse draad die eenvoudig aan te sluiten is op een
      wandcontactdoos.
    </p>
  </div>
</div>
{% endblock %}
