{% extends 'beneluxapp/base.html' %} {% block content %} {% load static %}
<div class="container mt-5 mb-5 ftco-animate">
  <p class="text-justify">
    Wilt u een goed beeld hebben van het hele proces van offerte tot plaatsing
    van uw dakkapel? Leest u dan even verder zodat u weet hoe alles in zijn werk
    gaat.
  </p>

  <div class="mt-3 mb-3 ftco-animate">
    <h1>1. Offerte aanvragen en showroombezoek</h1>
    <p class="text-justify">
      U kunt natuurlijk heel gemakkelijk eerst een offerte aanvragen om zo een
      globaal beeld te krijgen van de mogelijkheden en de prijzen. Wij raden u
      aan ook te komen kijken in de showroom omdat veel onderdelen en materialen
      en kozijnen onbekend kunnen zijn voor u terwijl deze later vaak zeer
      belangrijk blijken te zijn voor onze klanten. Het is dan beter even wat
      tijd te investeren zodat u de juiste en weloverwogen beslissing neemt.
    </p>
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h1>2. Bezoek bij u thuis en offerte op maat</h1>
    <p class="text-justify">
      Na uw eerste oriëntatie weet u al heel wat meer en kan een van onze
      adviseurs u thuis bezoeken om zo een goede offerte op maat voor u te
      maken. Als u al meer weet en wij goede gegevens van u krijgen over uw huis
      kan er ook zonder een bezoek bij u thuis een goede offerte voor u gemaakt
      worden. Met die offerte kunt u dan een goed en objectief vergelijk maken.
      Het is overigens altijd goed de situatie bij u thuis te zien om
      verrassingen achteraf te voorkomen en om u advies te geven over zaken waar
      u wellicht nog niet bij hebt stilgestaan. Ook komt het voor dat sommigen
      dingen helaas niet mogelijk blijken te zijn of andersom: er kan meer dan u
      gedacht had. Denkt u ook aan mogelijke verplichte vergunningen of juist
      niet (lees hier meer over vergunningen).

      <img src="{% static 'images/veel/Page-2-Image-1.png' %}" />
    </p>
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h1>3. U geeft opdracht en er wordt technisch ingemeten</h1>
    <p class="text-justify">
      Nu u weet wat er allemaal kan en wat het kost kunt u opdracht geven. Dan
      volgt er nog een technische inmeting om ervoor te zorgen dat A. alles
      technisch perfect zal verlopen en onze monteurs het werk precies zo
      uitvoeren zoals met u besproken is, B. u nogmaals de gelegenheid krijgt
      alles te bespreken met de inmeter en C. u alsnog zaken kunt wijzigen op
      basis van het advies van de inmeter. Het kan namelijk ook voorkomen dat u
      opdracht hebt weggegeven zonder dat wij al eerder bij u thuis waren en dan
      kunt u eenvoudig e.e.a. weer laten wijzigen in uw opdracht. Bijvoorbeeld
      de breedte, materiaalkeuze, kleuren, kozijnindeling en meer van dat soort
      zaken. Lees hier meer over de technische aspecten van de inmeting.
    </p>
    <img src="{% static 'images/veel/Page-2-Image-2.png' %}" />
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h1>4. Datum plaatsing of verzorging vergunning</h1>
    <p class="text-justify">
      U krijgt vervolgens van de inmeter een uitgebreide opdrachtbevestiging met
      een tekening van uw dakkapel erin en alle eventuele besproken wijzigingen
      zodat er geen misverstand kan zijn over uw finale opdracht. Kan er bij u
      vergunningsvrij geplaatst worden dan krijgt u een datum plaatsing van de
      inmeter en alle informatie die daarbij hoort ( lees er hier meer over)
      zodat u goed op de hoogte bent van wat er op die dag allemaal bij u thuis
      gebeurt. De inmeter blijft vanaf het moment van de technische inmeting uw
      vaste aanspreekpunt voor al uw vragen en eventuele wijzigingen tot het
      moment van plaatsing. Als wij een vergunning voor u moeten verzorgen
      regelt de inmeter alles voor u. Nadat de gemeente vergunning verleend
      heeft krijgt u een datum plaatsing van ons. Als de gemeente wijzigingen
      wil dan worden die eerst met u besproken en wordt er een gewijzigd plan
      ingediend.
    </p>
    <img src="{% static 'images/veel/Page-3-Image-3.png' %}" />
  </div>
  <div class="mt-3 mb-3 ftco-animate">
    <h1>5. Dag van plaatsing</h1>
    <p class="text-justify">
      De werkzaamheden bij u thuis bestaan uit het netjes afdekken van de
      zolderruimte, het eraf halen van de dakpannen en het inzagen van uw
      dakbeschot of dakplaten. Zo wordt een eerste gat gezaagd dat steeds groter
      wordt. Onze zware materialen en afval worden er met de kraan in- en
      uitgetild zodat dit niet allemaal door uw huis hoeft. Wij zorgen ervoor
      dat de juiste constructieve maatregelen genomen worden om de dakkapel goed
      op te kunnen vangen als deze gehesen wordt door de kraan. Dit heet een
      ‘raveling’ en zorgt ervoor dat na de plaatsing van uw dakkapel uw dak niet
      minder sterk is dan voorheen. Soms zijn speciale aanpassingen nodig,
      bijvoorbeeld als u een constructieve muur weg wilt hebben of een spant.
    </p>
    <p class="text-justify">
      Tijdens de inmeting wordt dit met u besproken zodat u op de dag van
      plaatsing niet voor verrassingen komt te staan. Het geheel wordt uiteraard
      dezelfde dag wind- en waterdicht opgeleverd, maakt u zich dus geen zorgen
      over eventuele lekkages bij regen. Aan het einde van het werk wordt alles
      met u doorgenomen en de oplevering gedaan. Mochten er na de oplevering nog
      problemen zijn neemt u dan contact met ons op, wij zullen ons altijd
      inspannen alles z.s.m. op te lossen zodat u tevreden bent en blijft! Graag
      tot ziens bij Benelux dakkapellen!
    </p>
  </div>
</div>
{% endblock %}
